﻿@charset "UTF-8";

.text-center{
    text-align:center!important
}
.text-left{
    text-align:left!important
}
.text-right{
    text-align:right!important
}
.d-flex{
    display:-webkit-box!important;
    display:-ms-flexbox!important;
    display:flex!important

}
.d-none{
    display:none!important
}

@media (max-width:539px){
    .d-xs-none{
        display:none!important
    }

}
@media (min-width:540px) and (max-width:719px){ 
    .d-sm-none{
        display:none!important
    }
}
@media (min-width:720px) and (max-width:959px){
    d-md-none{
      display:none!important
    }
}
@media (min-width:960px) and (max-width:1139px){
    .d-lg-none{
        display:none!important
    }
}
@media (min-width:1140px){
    d-xl-none{
        display:none!important
    }
}

html{
    height:100%
}

body
{
    min-height:100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    color:#444;
    font-family:poppins,sans-serif;
    font-size:15px;
    font-weight:300;
    line-height:1.5
}
a{
    color:#016cba
}

h1, h2, h3, h4, h5, h6 {
    color: #ffd300;
    font-family: poppins,sans-serif;
    font-weight: 700;
    line-height: 1.25
}
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small{
    font-weight:300
}
h1 em,h2 em,h3 em,h4 em,h5 em,h6 em{
    color:#016cba;
    font-style:normal
}
h1{
    font-size:2.10938rem
}
h2{
    font-size:1.64062rem
}
h3{
    font-size:1.23047rem
}
h4{
    font-size:1.05469rem
}
h5{
    font-size:.87891rem
}

.icon{
    color:#9d9d9d
}

.address span{
    display:inline-block
}
.address .street-address{
    display:block
}
.address .postal-code+.locality{
    margin-left:.5rem
}

.btn{
    -webkit-transition:all 350ms;
    transition:all 350ms;
    font-weight:500;
    font-size:.875rem;
    line-height:1.25rem;
    padding-left:.625rem;
    padding-right:.625rem;
    border-radius:0;
    position:relative
}
.btn [class^=fa]{
    line-height:normal
}
.btn.icon-after [class^=fa],.btn.icon-before [class^=fa]{
    -webkit-transition:opacity 350ms;
    transition:opacity 350ms;
    width:2.375rem;
    font-size:.875rem;
    text-align:center;
    opacity:0;
    position:absolute;
    top:50%;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%)
}
.btn.icon-after:hover [class^=fa],.btn.icon-before:hover [class^=fa]{
    opacity:1
}
.btn.icon-before [class^=fa]{
    left:0
}
.btn.icon-before:hover{
    padding-left:2.375rem
}
.btn.icon-after [class^=fa]{
    right:0
}
.btn.icon-after:hover{
    padding-right:2.375rem
}
.btn-primary{
    border-color:#016cba;
    background-color:#016cba
}
.btn-primary [class^=fa]{
    color:rgba(255,255,255,.65)
}
.btn-primary.hover,.btn-primary:hover{
    border-color:#01518c;
    background-color:#01518c
}
.btn-secondary{
    color:#016cba;
    border-color:#ffd300;
    background-color:#ffd300
}
.btn-secondary [class^=fa]{
    color:rgba(255,255,255,.65)
}
.btn-secondary.hover,.btn-secondary:hover{
    border-color:#d1ad00;
    background-color:#d1ad00
}
.btn-light{
    border-color:#f5f5f5;
    background-color:#f5f5f5
}
.btn-light [class^=fa]{
    color:rgba(255,255,255,.65)
}
.btn-light.hover,.btn-light:hover{
    color:#fff;
    border-color:#016cba;
    background-color:#016cba
}
.btn-link{
    color:#444;
    padding-left:0
}
.btn-link [class^=fa]{
    color:#ffd300
}
.btn-link.hover,.btn-link:hover{
    text-decoration:none
}

.card.category{
    -webkit-transition:color 350ms,background-color 350ms;
    transition:color 350ms,background-color 350ms;
    background-color:#016cba
}
.card.category [class^=fa]{
    -webkit-transition:-webkit-transform 350ms;
    transition:-webkit-transform 350ms;
    transition:transform 350ms;
    transition:transform 350ms,-webkit-transform 350ms;
    color:#ffd300;
    font-size:2.25rem
}
.card.category .card-media{
    padding-top:66.66667%
}
.card.category .card-content{
    width:100%;
    height:100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    position:absolute;
    top:0;
    left:0
}
.card.category .card-title{
    color:#fff;
    margin-top:.5rem;
    margin-bottom:0
}
.card.category .card-title:first-child{
    margin-top:0
}
.card.category:hover{
    color:#016cba;
    background-color:#ffd300
}
.card.category:hover [class^=fa]{
    color:inherit;
    -webkit-transform:scale(1.15);
    transform:scale(1.15)
}
.card.category:hover .card-title{
    color:inherit
}
.card.company .company-logo{
    max-width:6rem;
    margin-bottom:1.25rem
}
.card.company .address{
    font-size:85%;
    padding:.375rem .75rem;
    background-color:#f5f5f5
}
.card{
    color:#444;
    border:0;
    border-radius:0
}
.card>a
{
    color:inherit;
    text-decoration:none;
    display:block
}
.card .card-media{
    overflow:hidden
}
.card .card-media>img
{
    -webkit-transition:-webkit-transform 350ms;
    transition:-webkit-transform 350ms;
    transition:transform 350ms;
    transition:transform 350ms,-webkit-transform 350ms

}

@media (min-width:992px){ 
    .card .card-body{
        padding:1.875rem
    }
}
.card .card-body .card-desc,.card .card-body ol,.card .card-body p,.card .card-body table,.card .card-body ul{
    margin-bottom:.75rem
}
.card .card-body .card-desc:last-child,.card .card-body ol:last-child,.card .card-body p:last-child,.card .card-body table:last-child,.card .card-body ul:last-child{
    margin-bottom:0
}
.card.hover .card-media>img,.card:hover .card-media>img{
        -webkit-transform:scale(1.07);
        transform:scale(1.07)
 }

.pagination .page-item .page-link{
        color:#016cba;
        text-align:center;
        min-width:2.375rem;
        display:block
 }
.pagination .page-item:first-child .page-link,.pagination .page-item:last-child .page-link{
    border-radius:0
}
.pagination .page-item.active .page-link{
    color:#fff;
    background-color:#016cba
}

.properties-list{
    font-size:85%;
    list-style:none;
    padding-left:0
}
.properties-list li{
    padding-left:1.875rem;
    position:relative
}
.properties-list li+li{
    margin-top:.375rem
}
.properties-list [class^=fa]{
    width:1.5rem;
    color:#ffd300;
    line-height:1.25rem;
    text-align:center;
    position:absolute;
    top:0;
    left:0
}

form#search-form{
    min-width:20rem;
    border-radius:.25rem;
    position:relative
}
form#search-form .form-control{
    height:2.625rem;
    font-size:.875rem;
    font-family:poppins,sans-serif;
    font-weight:300;
    padding-right:2.625rem;
    border-color:#eee;
    background-color:transparent
}
form#search-form button[type=submit]{
    -webkit-transition:background-color 350ms;
    transition:background-color 350ms;
    width:2.625rem;
    height:2.625rem;
    color:#016cba;
    padding:0;
    border:0;
    border-radius:0 .25rem .25rem 0;
    background-color:transparent;
    position:absolute;
    top:0;
    right:0
}
form#search-form button[type=submit].hover,form#search-form button[type=submit]:hover{
    background-color:#f5f5f5
}

.wysiwyg img{
    margin-bottom:1rem
}
.wysiwyg h1,.wysiwyg h2,.wysiwyg h3,.wysiwyg h4,.wysiwyg h5,.wysiwyg h6{
    margin-top:2rem
}
.wysiwyg h1:first-child,.wysiwyg h2:first-child,.wysiwyg h3:first-child,
.wysiwyg h4:first-child,.wysiwyg h5:first-child,.wysiwyg h6:first-child{
    margin-top:0
}
.wysiwyg h1+h1,.wysiwyg h1+h2,.wysiwyg h1+h3,.wysiwyg h1+h4,.wysiwyg h1+h5,
.wysiwyg h1+h6,.wysiwyg h2+h1,.wysiwyg h2+h2,.wysiwyg h2+h3,.wysiwyg h2+h4,
.wysiwyg h2+h5,.wysiwyg h2+h6,.wysiwyg h3+h1,.wysiwyg h3+h2,.wysiwyg h3+h3,
.wysiwyg h3+h4,.wysiwyg h3+h5,.wysiwyg h3+h6,.wysiwyg h4+h1,.wysiwyg h4+h2,
.wysiwyg h4+h3,.wysiwyg h4+h4,.wysiwyg h4+h5,.wysiwyg h4+h6,.wysiwyg h5+h1,
.wysiwyg h5+h2,.wysiwyg h5+h3,.wysiwyg h5+h4,.wysiwyg h5+h5,.wysiwyg h5+h6,
.wysiwyg h6+h1,.wysiwyg h6+h2,.wysiwyg h6+h3,.wysiwyg h6+h4,.wysiwyg h6+h5,
.wysiwyg h6+h6{
    margin-top:0
}

#fixed-bg{
    width:100%;
    height:100vh;
    background-color:#016cba;
    position:absolute;
    top:0;
    left:0
}
#fixed-bg::after{
    width:100%;
    height:100%;
    content:'';
    display:block;
    opacity:.15;
    background-image:url(../images/isye-tool-master-bg.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    position:absolute;
    top:0;
    left:0
}

.nav#categories-nav{
    padding-top:1.875rem
}

@media (min-width:992px){
    .nav#categories-nav{
        padding-top:2.8125rem
    }
}

.nav#categories-nav .nav-link{
    -webkit-transition:color 350ms;
    transition:color 350ms;
    color:#fff;
    font-weight:500;
    line-height:0;
    text-align:center;
    margin-left:.9375rem;
    margin-right:.9375rem;
    padding:1.25rem 2rem;
    background-color:#016cba
}

@supports (display:flex){
    .nav#categories-nav .nav-link{
        -webkit-box-flex:1;
        -ms-flex-positive:1;
        flex-grow:1;
        -ms-flex-negative:1;
        flex-shrink:1
    }
}

.nav#categories-nav .nav-link [class^=fa],.nav#categories-nav .nav-link span{
    line-height:1.5rem;
    display:inline-block;
    vertical-align:top
}
.nav#categories-nav .nav-link [class^=fa]{
    color:#ffd300;
    font-size:1.375rem
}

@media (min-width:768px){
    .nav#categories-nav .nav-link [class^=fa]{
        margin-right:.75rem
    }
}

.nav#categories-nav .nav-link.active,.nav#categories-nav .nav-link:hover{
    color:#016cba;
    background-color:#ffd300
}
.nav#categories-nav .nav-link.active [class^=fa],.nav#categories-nav .nav-link:hover [class^=fa]{
    color:inherit
}
.navbar#primary-nav .navbar-brand{
    line-height:0;
    padding-top:.5rem;
    padding-bottom:.5rem
}
.navbar#primary-nav .navbar-brand img{
    width:auto;
    height:2rem
}
.navbar#primary-nav .navbar-collapse .navbar-nav>li>a{
    color:#ffd300;
    font-weight:500
}
.navbar#primary-nav .navbar-collapse .navbar-nav>li>.btn{
    margin-left:.75rem
}
.navbar#primary-nav .navbar-collapse .navbar-nav>li>.btn.btn-primary{
    color:#fff
}
.navbar#primary-nav .navbar-collapse .navbar-nav>li>.btn.btn-secondary{
    color:#016cba
}
.navbar#primary-nav .navbar-collapse .navbar-nav>li>.btn.btn-secondary [class^=fa]{
    color:inherit
}

@media (min-width:992px){
    .navbar#primary-nav .navbar-brand{
        padding-top:.5rem;
        padding-bottom:.5rem
    }
    .navbar#primary-nav .navbar-brand img{
        height:3rem
    }
}
@media (min-width:1200px){
    .navbar#primary-nav .navbar-brand{
        padding-top:.75rem;
        padding-bottom:.75rem
    }
    .navbar#primary-nav .navbar-brand img{
        height:3.5rem
    }
}

.site{
    width:100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    position:relative
}
.site-content,.site-footer,.site-header{
    min-height:1px;
    position:relative;
    z-index:1
}

section#the-content>.container{
    padding-left:0;
    padding-right:0;
    background-color:#f5f5f5
}
section#the-content .section-header{
    padding:1.5rem 1.875rem;
    background-color:#fff
}
section#the-content .section-header .section-title{
    margin-bottom:0
}
section#the-content .section-header .breadcrumb{
    font-size:.875rem;
    opacity:.75;
    margin-top:.125rem;
    margin-bottom:0;
    padding:0;
    background-color:transparent
}
section#the-content .section-content{
    padding:1.875rem
}
section#the-content .section-content .card{
    margin-bottom:1.875rem
}
section#the-content .section-content+.section-footer{
    padding-top:0
}
section#the-content .section-footer{
    padding:1.875rem
}
section#the-content .section-footer .pagination{
    margin-bottom:1.875rem
}

.is-page-company-detail section#company-detail{
    padding-top:30px;
    padding-bottom:30px
}
.is-page-company-detail section#related-cases .section-title{
    font-weight:400;
    text-transform:uppercase;
    margin-bottom:1.5rem
}
.is-page-company-detail section#company-detail{
    padding-top:30px;
    padding-bottom:30px
}
.is-page-company-detail section#related-cases .section-title{
    font-weight:400;
    text-transform:uppercase;
    margin-bottom:1.5rem
}
.is-page-dashboard .site-content{
    margin-top:auto;
    margin-bottom:auto
}
.is-page-dashboard .card.category{
    margin-bottom:1.875rem
}
.is-page-dashboard form#search-form .form-control{
    height:4rem;
    padding:.75rem 4rem .75rem 1rem;
    border:0;
    border-radius:0;
    background-color:#fff
}

@media (min-width:768px){
    .is-page-dashboard form#search-form .form-control{
        padding-left:1.25rem;padding-right:1.25rem
    }
}
@media (min-width:992px){
    .is-page-dashboard form#search-form .form-control{
        padding-left:1.5rem;padding-right:1.5rem
    }
}

.is-page-dashboard form#search-form button[type=submit]{
    width:4rem;
    height:4rem;
    font-size:1.25rem;
    border-radius:0
}
/*# sourceMappingURL=main.css.map */

/* !eigen styles! */
h1-error, h2-error, h3-error, h4-error, h5-error, h6-error {
    color: #ff0000;
    font-family: poppins,sans-serif;
    font-weight: 700;
    line-height: 1.25
}
h1-error {
    font-size: 2.10938rem
}
h2-error {
    font-size: 1.64062rem
}
h3-error {
    font-size: 1.23047rem
}
h4-error {
    font-size: 1.05469rem
}
h5-error {
    font-size: .87891rem
}