.d-flex {
    display: flex !important;
}

.d-none {
    display: none !important;
}

@media ( max-width: container( 'sm' ) - 1px ) {
    .d-xs-none { display: none !important; }
}

@media ( min-width: container( 'sm' ) ) and ( max-width: container( 'md' ) - 1px ) {
    .d-sm-none { display: none !important; }
}

@media ( min-width: container( 'md' ) ) and ( max-width: container( 'lg' ) - 1px ) {
    .d-md-none { display: none !important; }
}

@media ( min-width: container( 'lg' ) ) and ( max-width: container( 'xl' ) - 1px ) {
    .d-lg-none { display: none !important; }
}

@media ( min-width: container( 'xl' ) ) {
    .d-xl-none { display: none !important; }
}
