﻿section#editor-content {

    .simple-image {
        padding: 20px 0;

        input, [contenteditable] {
            width: 100%;
            padding: 10px;
            border: 1px solid #e4e4e4;
            background: #fff;
            box-sizing: border-box;
            border-radius: 3px;
            outline: none;
            font-size: 14px;
        }

        img {
            max-width: 100%;
            margin-bottom: 15px;
        }

        &.withBorder img {
            border: 1px solid #e8e8eb;
        }

        &.withBackground {
            background: #eff2f5;
            padding: 10px;

            img {
                display: block;
                max-width: 60%;
                margin: 0 auto 15px;
            }
        }
    }

    .ce-block__content {
        margin: 0 auto;
        max-width: none !important;

        .cdx-list {
            padding-inline-start: 40px;
        }
    }

    .image-tool, .link-tool, .embed-tool, .cdx-attaches {
        width: 80% !important;
        margin: 20px auto;
    }

    .image-tool__caption, .embed-tool__caption {
        text-align: center;
        border: none;
        box-shadow: none;
    }


    .codex-editor__redactor {
        padding-bottom: 45px !important;
    }

    .icon {
        color: #016cba;
    }

    .ce-toolbar__actions {
        position: relative;
        top: -20px;
        left: 40px;
    }

    .ce-header {
        padding: 1em 0;
    }

    .cdx-block {
        padding: .7em;

        a {
            fill: #016cba !important;
        }
    }

    cdx-input image-tool__caption {
        border: none;
    }

    .link-tool__content--rendered, .cdx-attaches--with-file {
        border-radius: 0;
        background: #fff;
        border: 1px solid rgba(201, 201, 204, 0.48);
        box-shadow: 0 1px 3px rgba(0,0,0, .1);
        will-change: filter;
        animation: link-in 450ms 1 cubic-bezier(0.215, 0.61, 0.355, 1);

        .cdx-attaches__file-info {
            margin: auto;
        }

        &:hover {
            box-shadow: 0 0 3px rgba(0,0,0, .16);
        }
    }

    .editContent {
        font-size: x-large;
        display: none;
        float: right;
        left: 24px;
        color: #016cba;
        padding-right: 3px;
        padding-left: 16px;
        position: relative;
        top: -46px;
    }

    .editContent:hover {
        color: #ffd300;
    }

    #saveContent, #closeEditor {
        display: block;
        padding-left: 16px;
    }

    .cdx-settings-button[data-tune='withBorder'],
    .cdx-settings-button[data-tune='withBackground'],
    .cdx-settings-button[data-tune='stretched'] {
        display: none;
    }
}
