﻿section#editor-content .simple-image {
  padding: 20px 0; }
  section#editor-content .simple-image input, section#editor-content .simple-image [contenteditable] {
    width: 100%;
    padding: 10px;
    border: 1px solid #e4e4e4;
    background: #fff;
    box-sizing: border-box;
    border-radius: 3px;
    outline: none;
    font-size: 14px; }
  section#editor-content .simple-image img {
    max-width: 100%;
    margin-bottom: 15px; }
  section#editor-content .simple-image.withBorder img {
    border: 1px solid #e8e8eb; }
  section#editor-content .simple-image.withBackground {
    background: #eff2f5;
    padding: 10px; }
    section#editor-content .simple-image.withBackground img {
      display: block;
      max-width: 60%;
      margin: 0 auto 15px; }

section#editor-content .ce-block__content {
  margin: 0 auto;
  max-width: none !important; }
  section#editor-content .ce-block__content .cdx-list {
    padding-inline-start: 40px; }

section#editor-content .image-tool, section#editor-content .link-tool, section#editor-content .embed-tool, section#editor-content .cdx-attaches {
  width: 80% !important;
  margin: 20px auto; }

section#editor-content .image-tool__caption, section#editor-content .embed-tool__caption {
  text-align: center;
  border: none;
  box-shadow: none; }

section#editor-content .codex-editor__redactor {
  padding-bottom: 45px !important; }

section#editor-content .icon {
  color: #016cba; }

section#editor-content .ce-toolbar__actions {
  position: relative;
  top: -20px;
  left: 40px; }

section#editor-content .ce-header {
  padding: 1em 0; }

section#editor-content .cdx-block {
  padding: .7em; }
  section#editor-content .cdx-block a {
    fill: #016cba !important; }

section#editor-content cdx-input image-tool__caption {
  border: none; }

section#editor-content .link-tool__content--rendered, section#editor-content .cdx-attaches--with-file {
  border-radius: 0;
  background: #fff;
  border: 1px solid rgba(201, 201, 204, 0.48);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  will-change: filter;
  animation: link-in 450ms 1 cubic-bezier(0.215, 0.61, 0.355, 1); }
  section#editor-content .link-tool__content--rendered .cdx-attaches__file-info, section#editor-content .cdx-attaches--with-file .cdx-attaches__file-info {
    margin: auto; }
  section#editor-content .link-tool__content--rendered:hover, section#editor-content .cdx-attaches--with-file:hover {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.16); }

section#editor-content .editContent {
  font-size: x-large;
  display: none;
  float: right;
  left: 24px;
  color: #016cba;
  padding-right: 3px;
  padding-left: 16px;
  position: relative;
  top: -46px; }

section#editor-content .editContent:hover {
  color: #ffd300; }

section#editor-content #saveContent, section#editor-content #closeEditor {
  display: block;
  padding-left: 16px; }

section#editor-content .cdx-settings-button[data-tune='withBorder'],
section#editor-content .cdx-settings-button[data-tune='withBackground'],
section#editor-content .cdx-settings-button[data-tune='stretched'] {
  display: none; }
