﻿body {
}

.ErrorText {
    color: #ff0000
}

/*** custom checkboxes ***/

input[type=checkbox] {
    display: none;
}

/* to hide the checkbox itself */
input[type=checkbox] + label:before {
    font-family: "Font Awesome 5 Pro";
    display: inline-block;
    content: "\f0c8";
    letter-spacing: 10px;
}

input[type=checkbox]:checked + label:before {
    content: "\f14a";
}

.wysiwyg {
    line-height: 1.5em;
    height: 9em;
    overflow: hidden;
    text-align: justify;
}

.two-lines {
    max-height: 3em;
}

.img-fluid, .company-logo {
    max-width: 8rem;
    margin-bottom: 1.25rem;
    object-fit:contain;
    height: 3rem !important;
}