﻿.collapsible {
    background-color: #d1cfcf;
    color: #016cba;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;

    /*.even {
        background-color: #d1cfcf;
    }

    .odd {
        background-color: white;
    }*/
}

.collapsible:hover {
    background-color: #ffd300;
}

.active {
    background-color: #d1cfcf;
}

.collapsible:after {
    content: '\002B';
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
    color: black;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
    background-color: #f1f1f1;
}
