﻿.site-content .container {
  background-color: #f5f5f5; }
  .site-content .container svg .st0, .site-content .container svg .st3 {
    fill: none;
    stroke: #016cba;
    stroke-miterlimit: 10; }
  .site-content .container svg tspan, .site-content .container svg path, .site-content .container svg text {
    fill: #016cba;
    font-size: 10px; }
  .site-content .container svg ellipse {
    fill: #f5f5f5 !important;
    stroke: #016cba;
    stroke-miterlimit: 10; }
  .site-content .container svg g:hover ellipse {
    stroke-width: 2; }
  .site-content .container svg g:hover text {
    font-weight: bold; }
  .site-content .container svg g.selected ellipse {
    fill: #FFD300 !important; }
