﻿.site-content {

    .container {
        background-color: #f5f5f5;

        svg {

            .st0, .st3 {
                fill: none;
                stroke: #016cba;
                stroke-miterlimit: 10;
            }

            tspan, path, text {
                fill: #016cba;
                font-size: 10px;
            }

            ellipse {
                /*fill: #f5f5f5 !important;*/
                stroke: #016cba;
                stroke-miterlimit: 10;
            }

            g:hover {
                ellipse {
                    stroke-width: 2;
                }

                text {
                    font-weight: bold;
                }
            }

            /*g.selected {
                ellipse {
                    fill: #FFD300 !important;
                }
            }*/


        }
    }
}







