﻿@Scripts.Render("~/bundles/editorjs")

<link href="~/Content/editorjs.css" rel="stylesheet" />
<link href="~/Content/pages/test.min.css" rel="stylesheet" />


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body>
    <div class="content-wrapper">
        <div id="editorjs" class="editorjs"></div>
        <div class="button-container">
            <button id="save">Save</button>
        </div>
        <div id="editorrender" class="editorjs"></div>
    </div>
</body>
</html>

<script src="~/Scripts/pages/Owner.js"></script>
