﻿<!doctype html>
<html class="no-js" lang="nl">

<head>
    <meta charset="utf-8">
    <title>Mes selector - @ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @Styles.Render("~/Asset/content")

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.typekit.net/ezl1gst.css">
    <link rel="stylesheet" href="/assets/css/main.css" />

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/library")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</head>

<body class="is-page-dashboard">
    <div class="site">

        <div id="fixed-bg"></div>

        <nav id="primary-nav" class="navbar navbar-expand-lg">
            <div class="container">
                <a href="/" class="navbar-brand">
                    <img src="/assets/images/logo-mes4sme.svg" onerror="this.src='/assets/images/logo-mes4sme.png';this.onerror=null;" alt="MES4SME - Vlaio Industrie 4.0 proeftuin" />
                </a>
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar-content">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="~/Contact/SendEmail">Do you have a case for us?</a>
                        </li>

                        @if (User.IsInRole("Administrator") || User.IsInRole("Owner"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="~/Contact/Help">
                                    <i class="far fa-question - circle"></i>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="~/Config">
                                    <i class="far fa-cog"></i>
                                </a>
                            </li>
                        }

                        @Html.Partial("_LoginPartial")

                    </ul>
                </div>
            </div>
        </nav>

        @RenderBody()


    </div>

    <script src="https://kit.fontawesome.com/fd871d1004.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>


     
