﻿
@{
    ViewBag.Title = "Questions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/choices.min.css" rel="stylesheet" />
<link href="~/Content/Questions.min.css" rel="stylesheet" />

@*<script src="~/Scripts/library/select2.js"></script>
<script src="~/Scripts/library/datatables/datatables.js"></script>
<script src="~/Scripts/library/datatables/datatables-bootstrap.js"></script>
<script src="~/Scripts/library/datatables/datatables-buttons.js"></script>
<script src="~/Scripts/library/datatables/datatables-responsive.js"></script>
<script src="~/Scripts/library/datatables/datatables-select.js"></script>
<script src="~/Scripts/library/datatables/datatables-editor.js"></script>
<link href="~/Content/datatables.css" rel="stylesheet" />
<link href="~/Content/datatables-fa.css" rel="stylesheet" />*@

<div class="site-content">
    <section id="dashboard">
        <div class="container">

            <div id="Main" style="background-color:white; padding: 1rem;">
            </div>

        </div>
    </section>
    @section Scripts {@Scripts.Render("~/bundles/jqueryval")}
    <script src="~/Scripts/pages/Questions_Detail.js"></script>
</div>



