﻿
@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/svg.min.css" rel="stylesheet" />
<link href="~/Scripts/library/Analyze/Chart.css" rel="stylesheet" />
<script src="~/Scripts/library/Analyze/Chart.bundle.js"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<div class="site-content">
    <section id="dashboard">
        <div class="container">
            <div id="Result" style="padding:1rem;"></div>
        </div>
    </section>
    @section Scripts {@Scripts.Render("~/bundles/jqueryval")}
    <script src="~/Scripts/pages/Questions_Result.js"></script>
</div>





