﻿@{
    ViewBag.Title = "Confirmed Email";
    ViewBag.BodyClass = "login";
    
}

<h2>@ViewBag.Title</h2>

<div class="site-content">

    <section id="the-content">
        <div class="container">
    
            <div class="row no-gutters">
                <div class="col-left col-lg-6 d-xs-none d-sm-none d-md-none d-lg-block">
                    <figure class="image image--1by1" style="background-image: url( '/assets/images/isye-tool-master-bg.jpg' );">
                        <img src="/assets/images/isye-tool-master-bg.jpg" class="img-fluid" alt="" />
                    </figure>
                </div>
    
                <div class="col-right col-lg-6">
                    <div class="w-100">
                        <h2>@ViewBag.Title</h2>
                        <p>
                            Thank you for confirming your email.
                            <br />
                            Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                        </p>  
                    </div>  
                </div>

            </div>  
        </div>
    </section>
    
    @section Scripts { @Scripts.Render("~/bundles/jqueryval")}

</div>
