﻿@using MES4SME.Models
@model EmailNotConfirmedViewModel

@{
    ViewBag.Title = "Email Not Confirmed";
    ViewBag.BodyClass = "login";
}

<div class="site-content">

    @if (Model == null || Model.Email == null || Model.Email == "")
    {
        <div class="alert alert-danger" role="alert">
            Something went wrong!
        </div>
    }
    else
    {
        <script>
            function SendConfirmEmail() {
                $.ajax({
                    type: "POST",
                    url: window.location.protocol + "//" + window.location.host + "/Account/SendEmailConfirmationLink",
                    dataType: "json",
                    data: {
                        sUserEmail: $("#Email").text()
                    },
                    success: function (response) {
                        alert("Email Send");
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert("Something went wrong");
                        console.log(xhr, textStatus, errorThrown);
                    }
                });
            }
        </script>

        <section id="the-content">
            <div class="container">

                <div class="row no-gutters">
                    
                    <div class="col-left col-lg-6 d-xs-none d-sm-none d-md-none d-lg-block">
                        <figure class="image image--1by1" style="background-image: url( '/assets/images/isye-tool-master-bg.jpg' );">
                            <img src="/assets/images/isye-tool-master-bg.jpg" class="img-fluid" alt="" />
                        </figure>
                    </div>

                    <div class="col-right col-lg-6">
                        <div class="w-100">

                                <h2>@ViewBag.Title</h2>
                                <h4>
                                    A confirmation email was sent to: <br />
                                    <a id="Email">@Model.Email</a> <br />
                                    Please confirm your email.
                                </h4>

                                <a class="btn btn-secondary" onclick="SendConfirmEmail()">Send new confirm email</a>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    }

    @section Scripts {@Scripts.Render("~/bundles/jqueryval")}

</div>