﻿@{
    ViewBag.Title = "Login Failure";
}
<h1-error>Something went wrong!</h1-error>

@*<hgroup>
        <h2>@ViewBag.Title.</h2>
        <h3 class="text-danger">Unsuccessful login with service.</h3>
    </hgroup>*@
