﻿@model MES4SME.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    ViewBag.bodyClass = "register";
}

<div class="site-content">
    <section id="the-content">
        <div class="container">
            <div class="row no-gutters">

                <div class="col-left col-lg-6 d-xs-none d-sm-none d-md-none d-lg-block">
                    <figure class="image image--1by1" style="background-image: url( '/assets/images/isye-tool-master-bg.jpg' );">
                        <img src="/assets/images/isye-tool-master-bg.jpg" class="img-fluid" alt="" />
                    </figure>
                </div>

                <div class="col-right col-lg-6">
                    <div class="w-100">

                        <h2>Forgot password</h2>
                        <h4>Enter your email</h4>

                        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()


                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-secondary" value="Email Link" />
                            </div>

                        }

                    </div>
                </div>

            </div>
        </div>
    </section>

    @section Scripts {@Scripts.Render("~/bundles/jqueryval")}

</div>