﻿@using MES4SME.Models
@model LoginViewModel

@{
    ViewBag.Title = "Log in!";
    ViewBag.bodyClass = "login";
}

<div class="site-content">

    <section id="the-content">
        <div class="container">

            <div class="row no-gutters">

                <div class="col-left col-lg-6 d-xs-none d-sm-none d-md-none d-lg-block">
                    <figure class="image image--1by1" style="background-image: url( '/assets/images/isye-tool-master-bg.jpg' );">
                        <img src="/assets/images/isye-tool-master-bg.jpg" class="img-fluid" alt="" />
                    </figure>
                </div>

                <div class="col-right col-lg-6">
                    <div class="w-100">
                       
                            <h2>Login</h2>

                            <p>We are currently working on the content with the project partners, as a visitor you are stuck on this page.</p>

                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-left col-lg-3 d-lg-block">  @Html.LabelFor(m => m.Email, new { @class = "control-label" })</div>
                                        <div class="col-left col-lg-9 d-lg-block">  @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })</div>
                                    </div>                              
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })                                  
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-left col-lg-3 d-lg-block">  @Html.LabelFor(m => m.Password, new { @class = "col-md-0 control-label" }) </div>
                                        <div class="col-left col-lg-9 d-lg-block">  @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })</div>
                                    </div>
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })                            
                                </div>
                                <div class="form-group" style="display:none;">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        @Html.LabelFor(m => m.RememberMe)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Log in" class="btn btn-secondary" />
                                </div>

                                <ul class="u-seamless">
                                    <li>@Html.ActionLink("Register as a new user", "Register")</li>
                                    <li>@Html.ActionLink("Forgot your password?", "ForgotPassword")</li>
                                </ul>
                            }

                    </div>
                </div>

            </div>
        </div>
    </section>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}