﻿@model MES4SME.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    ViewBag.bodyClass = "register";
}

    <div class="site-content">

        <section id="the-content">
            <div class="container">

                <div class="row no-gutters">
                    <div class="col-left col-lg-6 d-xs-none d-sm-none d-md-none d-lg-block">
                        <figure class="image image--1by1" style="background-image: url( '/assets/images/isye-tool-master-bg.jpg' );">
                            <img src="/assets/images/isye-tool-master-bg.jpg" class="img-fluid" alt="" />
                        </figure>
                    </div>

                    <div class="col-right col-lg-6">
                        <div class="w-100">
                            <h2>Sign up</h2>

                            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-left col-lg-3 d-lg-block">  @Html.LabelFor(m => m.Email, new { @class = "control-label" })</div>
                                        <div class="col-left col-lg-9 d-lg-block">  @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })</div>
                                    </div>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-left col-lg-7 d-lg-block">  @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })</div>
                                                <div class="col-left col-lg-5 d-lg-block">  @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })</div>
                                            </div>
                                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-left col-lg-7 d-lg-block">  @Html.LabelFor(m => m.LastName, new { @class = "control-label" })</div>
                                                <div class="col-left col-lg-5 d-lg-block">  @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })</div>
                                            </div>
                                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-left col-lg-7 d-lg-block">  @Html.LabelFor(m => m.Occupation, new { @class = "control-label" })</div>
                                                <div class="col-left col-lg-5 d-lg-block">  @Html.ValidationMessageFor(m => m.Occupation, "", new { @class = "text-danger" })</div>
                                            </div>
                                            @Html.TextBoxFor(m => m.Occupation, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-left col-lg-7 d-lg-block">  @Html.LabelFor(m => m.PhoneNumber, new { @class = "control-label" })</div>
                                                <div class="col-left col-lg-5 d-lg-block">  @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })</div>
                                            </div>
                                            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>

                                <label style="font-size :12px">
                                    The password needs to have at least 6 characters
                                Containing a lower cased letter, an upper cased letter, a number and a special character
                            </label>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <input type="submit" class="btn btn-secondary" value="Register" />
                        </div>
                    }


                        </div>
                    </div>
                </div>
        </section>

    </div>

<style>

    .validation-summary-errors ul {
        list-style: none;
        padding-left: 0;
    }

    </style>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
