﻿@model MES4SME.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    ViewBag.bodyClass = "login";
}

<div class="site-content">
    <section id="the-content">
        <div class="container">
            <div class="row no-gutters">

                <div class="col-left col-lg-6 d-xs-none d-sm-none d-md-none d-lg-block">
                    <figure class="image image--1by1" style="background-image: url( '/assets/images/isye-tool-master-bg.jpg' );">
                        <img src="/assets/images/isye-tool-master-bg.jpg" class="img-fluid" alt="" />
                    </figure>
                </div>

                <div class="col-right col-lg-6">
                    <div class="w-100">
                        <h2>@ViewBag.Title</h2>

                        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Code)
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = " control-label" })
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                            <label style="font-size :12px">
                                The password needs to have at least 6 characters
                                Containing a lower cased letter, an upper cased letter, a number and a special character
                            </label>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-secondary" value="Reset" />
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </section>

    @section Scripts { @Scripts.Render("~/bundles/jqueryval") }

</div>