﻿
@{
    ViewBag.Title = "Overzicht";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container body-content">
    <div class="site-content">



        <section id="dashboard">
            <div class="container">

                <div class="row">

                    <div class="col-md-6 col-lg-4">
                        <article class="card category">
                            <a href="~/Companies">
                                <div class="card-media"></div>
                                <div class="card-content">
                                    <i class="fal fa-industry" aria-hidden="true"></i>
                                    <h3 class="card-title">Companies</h3>
                                </div>
                            </a>
                        </article>
                    </div>


                    <div class="col-md-6 col-lg-4">
                        <article class="card category">
                            <a href="~/Softwares">
                                <div class="card-media"></div>
                                <div class="card-content">
                                    <i class="fal fa-laptop-code" aria-hidden="true"></i>
                                    <h3 class="card-title">Softwares</h3>
                                </div>
                            </a>
                        </article>
                    </div>


                    <div class="col-md-6 col-lg-4">
                        <article class="card category">
                            <a href="~/Cases">
                                <div class="card-media"></div>
                                <div class="card-content">
                                    <i class="fal fa-clipboard" aria-hidden="true"></i>
                                    <h3 class="card-title">Cases</h3>
                                </div>
                            </a>
                        </article>
                    </div>

                </div>

                <form id="search-form" method="post" action="#{{validationUrl}}">
                    <input type="search" id="input-search" class="form-control" placeholder="Search for projects, cases, software…">
                    <button type="submit"><i class="far fa-search" aria-hidden="true"></i></button>
                </form>

            </div>
        </section>

        </div></div>