﻿@{
    ViewBag.Title = "Cases";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container body-content">
    <div class="site-content">

        <section id="the-content">
            <div class="container">

                <div class="section-header d-md-flex align-items-center">
                    <div class="mr-auto">
                        <h2 class="section-title">Cases</h2>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="far fa-home"></i></a></li>
                            <li class="breadcrumb-item active">Cases</li>
                        </ol>
                    </div>

                    <form id="search-form" method="post" action="#{{validationUrl}}">
                        <input type="search" id="input-search" class="form-control" placeholder="Search for projects, cases, software&hellip;">
                        <button type="submit"><i class="far fa-search"></i></button>
                    </form>

                </div><!-- /.section-header -->

                <div class="section-content">
                    <div class="row" id="cases">
                    </div>
                </div><!-- /.section-content -->


                <div class="section-footer">
                    <ul class="pagination justify-content-center">
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                    </ul>
                </div><!-- /.section-footer -->

            </div>

        </section>
    </div>
</div>

<script src="~/Scripts/pages/cases.js"></script>
