﻿@{
    ViewBag.Title = "Case detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/editorjs")
<link href="~/Content/editorjs.css" rel="stylesheet" />

<div class="container body-content">
    <div class="site-content">


        <section id="the-content" visibility="hidden">
        </section>

    </div>
</div>

<script src="~/Scripts/pages/cases-detail.js"></script>
