﻿
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Configuration</title>
</head>
<body>
    <div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Config", "Config", "Admin")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>

        <div class="row">
            <div class="col-md-1">
                <p><a class="btn btn-default">Users</a></p>
            </div>
            <div class="col-md-1">
                <p><a class="btn btn-default">Sectors</a></p>
            </div>
        </div>


        <div title="Users">

            @for (var i = 10; i < 25; i++)
            {<p>Line @i</p>}



        </div>

    </div>
</body>
</html>
