﻿<!doctype html>
<html class="no-js" lang="nl">

<head>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-L9XD16JN2P"></script>
    @*<script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-L9XD16JN2P', { 'anonymize_ip': true });
    </script>*@

    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.typekit.net/ezl1gst.css">
    <link href="~/assets/sass/main.min.css" rel="stylesheet" />

    @RenderSection("scripts", required: false)

    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.26.0/polyfill.min.js"></script>
    <script src="https://kit.fontawesome.com/fd871d1004.js" crossorigin="anonymous" /></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/library/detect.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="~/assets/js/fd871d1004.js"></script>

    @Scripts.Render("~/bundles/library")

    @*<script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MXBV656');</script>*@

</head>

@if (ViewBag.bodyClass == null) { ViewBag.bodyClass = "dashboard"; }
<body class="is-page-@ViewBag.bodyClass">

    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MXBV656"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>

    <div class="site">

        <div id="fixed-bg"></div>

        <nav id="primary-nav" class="navbar navbar-expand-lg">
            <div class="container">
                <a href="/" class="navbar-brand">
                    <img src="/assets/images/logo-mes4sme.svg" onerror="this.src='/assets/images/logo-mes4sme.png';this.onerror=null;" alt="MES4SME - Vlaio Industrie 4.0 proeftuin" />
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content">
                    <i class="navbar-toggler-icon far fa-bars"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbar-content">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="~/Contact/SendEmail">Do you have a case for us?</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="~/Contact/Help">
                                <i class="far fa-question"></i>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/Privacy">
                                <i class="fas fa-user-secret"></i>
                            </a>
                        </i>

                        @if (User.IsInRole("Administrator"))
                        {

                             <li class="nav-item config">
                                <a class="nav-link" href="~/Analyzing">
                                    <i class="fas fa-chart-pie"></i>
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("Administrator") || User.IsInRole("Owner"))
                        {

                            <li class="nav-item config">
                                <a class="nav-link" href="~/Config">
                                    <i class="far fa-cog"></i>
                                </a>
                            </li>
                        }

                        @Html.Partial("_LoginPartial")

                    </ul>
                </div>
            </div>
        </nav>

        @RenderBody()

    </div>

    @*<script src="https://kit.fontawesome.com/fd871d1004.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>*@

    <div id="browserNotCompatible" class="modal">

        <!-- Modal content -->
        <div class="modal-content" style="width: 80%;margin: 10%;">
            <p style="margin:1rem;">Your browser is not supported to run this website! Please open this website in Google Chrome, Mozilla Firefox or Microsoft Edge.</p>
        </div>

    </div>

</body>
</html>

