﻿@using Microsoft.AspNet.Identity
@using MES4SME.Extensions

@if (Request.IsAuthenticated)
{
    @Html.AntiForgeryToken()

    <li class="nav-item">
        <a class="btn btn-primary icon-before" href="~/Manage"><i class="far fa-user"></i>@User.Identity.GetMyUserName()</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-secondary icon-after" onclick="LogOff();" href="javascript:void(0);">Logout<i class="far fa-sign-out"></i></a>
    </li>
}

else
{
    <li class="nav-item">
        <a class="btn btn-primary icon-before" href="~/Account/Register"><i class="far fa-user"></i>Sign up</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-secondary icon-after" onclick="return buildUrl(this);" href="">Login<i class="far fa-sign-in"></i></a>
    </li>
}

<script>

    function buildUrl(item) {
        item.href = window.location.origin + '/Account/Login?ReturnUrl=' + window.location.pathname.replace('/', '%2F');
        return true;
    }

    function LogOff() {

        var token = $('input[name="__RequestVerificationToken"]').val();

        $.ajax({
            type: "POST",
            url: window.location.protocol + "//" + window.location.host + "/Account/LogOff",
            data: {
                __RequestVerificationToken: token
            },
            success: function (response) {
                sessionStorage.clear();
                window.location.href = window.location.origin;
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log(xhr, textStatus, errorThrown);
            }
        });
    }

</script>