﻿@model MES4SME.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}


<div class="row">
    <div>
        <div>
            <h4>Change your account settings</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>Password:</dt>
                <dd>
                    
                    @if (Model.HasPassword)
                    {
                        @Html.ActionLink("Change your password", "ChangePassword")
                                           
                    }
                    
                </dd>
            </dl>
        </div>
</div>
</div>