﻿
@{
    ViewBag.Title = "Overview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Scripts/library/Analyze/Chart.css" rel="stylesheet" />
<script src="~/Scripts/library/Analyze/Chart.bundle.js"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<style>

    .tableFixHead {
        overflow-y: auto;
        height: 100px;
    }

    .tableFixHead thead th {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    table {
        table-layout: fixed;
        width: 100%;
        *margin-left: -100px; /*ie7*/
    }

    td, th {
        vertical-align: top;
        border-top: 1px solid #ccc;
        padding: 10px;
        width: 100px;
    }

    th {
        /*  position:absolute;
  *position: relative; /*ie7*/
        /*  left:0; */
        width: 100px;
    }

    .hard_left {
        position: absolute;
        *position: relative; /*ie7*/
        left: 0;
        width: 100px;
    }

    .next_left {
        position: absolute;
        *position: relative; /*ie7*/
        left: 100px;
        width: 100px;
    }

    .outer {
        position: relative
    }

    .inner {
        overflow-x: scroll;
        width: 400px;
        margin-left: 200px;
    }
</style>

<div class="site-content">

    <nav id="categories-nav" class="nav">
        <div class="container d-flex">
            <a class="nav-link " href="/Companies"><i class="far fa-industry" aria-hidden="true"></i><span>Companies</span></a>
            <a class="nav-link " href="/Software"><i class="far fa-compact-disc" aria-hidden="true"></i><span>Software</span></a>
            <a class="nav-link " href="/Cases"><i class="far fa-vote-yea" aria-hidden="true"></i><span>Cases</span></a>
        </div>
    </nav>

    <section id="the-content">
        <div class="container">
            <section id="section-content">
                <div style="padding:1rem;">

                        <div class="outer">
                            <div class="inner">
                                <div class="tableFixHead">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th class="hard_left">Questions</th>
                                                <th class="next_left">Answers</th>
                                                <th>Partner 1</th>
                                                <th>Partner 2</th>
                                                <th>Partner 3</th>
                                                <th>Partner 4</th>
                                                <th>...</th>
                                            </tr>
                                            <tr>
                                                <td class="hard_left"></td>
                                                <td class="next_left"></td>
                                                <td>90%</td>
                                                <td>56%</td>
                                                <td>75%</td>
                                                <td>36%</td>
                                                <td>...</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>

                                                <td class="hard_left">Q1</td>
                                                <td class="next_left">A1</td>
                                                <td>
                                                    <i class="far fa-times-circle" style="color:red; font-size: 2em;" aria-hidden="true"></i>
                                                </td>
                                                <td>
                                                    <i class="far fa-check-circle" style="color:green; font-size: 2em;" aria-hidden="true"></i>
                                                </td>
                                                <td>
                                                    <i class="far fa-times-circle" style="color:red; font-size: 2em;" aria-hidden="true"></i>
                                                </td>
                                                <td>
                                                    <i class="far fa-check-circle" style="color:green; font-size: 2em;" aria-hidden="true"></i>
                                                </td>
                                                <td>
                                                    <i class="far fa-times-circle" style="color:red; font-size: 2em;" aria-hidden="true"></i>
                                                </td>
                                            </tr>
                                            <tr>

                                                <td class="hard_left">Q2</td>
                                                <td class="next_left">A2</td>
                                                <td>
                                                    <i class="far fa-times-circle" style="color:red; font-size: 2em;" aria-hidden="true"></i>
                                                </td>
                                                <td>
                                                    <i class="far fa-check-circle" style="color:green; font-size: 2em;" aria-hidden="true"></i>
                                                </td>
                                                <td>
                                                    <i class="far fa-times-circle" style="color:red; font-size: 2em;" aria-hidden="true"></i>
                                                </td>
                                                <td>
                                                    <i class="far fa-check-circle" style="color:green; font-size: 2em;" aria-hidden="true"></i>
                                                </td>
                                                <td>
                                                    <i class="far fa-times-circle" style="color:red; font-size: 2em;" aria-hidden="true"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="hard_left">Q3</td>
                                                <td class="next_left">A3</td>
                                                <td>
                                                    <i class="far fa-times-circle" style="color:red; font-size: 2em;" aria-hidden="true"></i>
                                                </td>
                                                <td>
                                                    <i class="far fa-check-circle" style="color:green; font-size: 2em;" aria-hidden="true"></i>
                                                </td>
                                                <td>
                                                    <i class="far fa-times-circle" style="color:red; font-size: 2em;" aria-hidden="true"></i>
                                                </td>
                                                <td>
                                                    <i class="far fa-check-circle" style="color:green; font-size: 2em;" aria-hidden="true"></i>
                                                </td>
                                                <td>
                                                    <i class="far fa-times-circle" style="color:red; font-size: 2em;" aria-hidden="true"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="hard_left">Q4</td>
                                                <td class="next_left">A4</td>
                                                <td>
                                                    <i class="far fa-times-circle" style="color:red; font-size: 2em;" aria-hidden="true"></i>
                                                </td>
                                                <td>
                                                    <i class="far fa-check-circle" style="color:green; font-size: 2em;" aria-hidden="true"></i>
                                                </td>
                                                <td>
                                                    <i class="far fa-times-circle" style="color:red; font-size: 2em;" aria-hidden="true"></i>
                                                </td>
                                                <td>
                                                    <i class="far fa-check-circle" style="color:green; font-size: 2em;" aria-hidden="true"></i>
                                                </td>
                                                <td>
                                                    <i class="far fa-times-circle" style="color:red; font-size: 2em;" aria-hidden="true"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="hard_left">Q5</td>
                                                <td class="next_left">A5</td>
                                                <td>
                                                    <i class="far fa-times-circle" style="color:red; font-size: 2em;" aria-hidden="true"></i>
                                                </td>
                                                <td>
                                                    <i class="far fa-check-circle" style="color:green; font-size: 2em;" aria-hidden="true"></i>
                                                </td>
                                                <td>
                                                    <i class="far fa-times-circle" style="color:red; font-size: 2em;" aria-hidden="true"></i>
                                                </td>
                                                <td>
                                                    <i class="far fa-check-circle" style="color:green; font-size: 2em;" aria-hidden="true"></i>
                                                </td>
                                                <td>
                                                    <i class="far fa-times-circle" style="color:red; font-size: 2em;" aria-hidden="true"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="hard_left">Q6</td>
                                                <td class="next_left">A6</td>
                                                <td>
                                                    <i class="far fa-times-circle" style="color:red; font-size: 2em;" aria-hidden="true"></i>
                                                </td>
                                                <td>
                                                    <i class="far fa-check-circle" style="color:green; font-size: 2em;" aria-hidden="true"></i>
                                                </td>
                                                <td>
                                                    <i class="far fa-times-circle" style="color:red; font-size: 2em;" aria-hidden="true"></i>
                                                </td>
                                                <td>
                                                    <i class="far fa-check-circle" style="color:green; font-size: 2em;" aria-hidden="true"></i>
                                                </td>
                                                <td>
                                                    <i class="far fa-times-circle" style="color:red; font-size: 2em;" aria-hidden="true"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                    </div>

                </div>
            </section>
        </div>
    </section>
    @section Scripts {@Scripts.Render("~/bundles/jqueryval")}

</div>
<script src="~/Scripts/pages/browse.js"></script>


