﻿
@{
    ViewBag.Title = "Overview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Scripts/library/Analyze/Chart.css" rel="stylesheet" />
<script src="~/Scripts/library/Analyze/Chart.bundle.js"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<style>

    .tableFixHead {
        overflow: auto;
        height: 500px;
        width: 100%;
    }

    .tableFixHead table {
        border-collapse: collapse;
        width: 100%;
    }

    .tableFixHead th,
    .tableFixHead td {
        padding: 8px 16px;
    }


    td:first-child, th:first-child {
        position: sticky;
        left: 0;
        z-index: 1;
        background-color: white;
    }

    td:nth-child(2), th:nth-child(2) {
        position: sticky;
        left: 40px;
        z-index: 1;
        background-color: white;
    }

    .tableFixHead th {
        position: sticky;
        top: 0;
        background: #eee;
        z-index: 2
    }

    th:first-child, th:nth-child(2) {
        z-index: 3
    }
</style>


<div class="site-content">


    <section id="the-content">
        <div class="container">
            <div id="Extra" style="padding:1rem;"></div>
        </div>
    </section>

    @section Scripts {@Scripts.Render("~/bundles/jqueryval")}
    <script src="~/Scripts/pages/Extra.js"></script>
</div>

<!--<div class="site-content">

    <nav id="categories-nav" class="nav">
        <div class="container d-flex">
            <a class="nav-link " href="/Companies"><i class="far fa-industry" aria-hidden="true"></i><span>Companies</span></a>
            <a class="nav-link " href="/Software"><i class="far fa-compact-disc" aria-hidden="true"></i><span>Software</span></a>
            <a class="nav-link " href="/Cases"><i class="far fa-vote-yea" aria-hidden="true"></i><span>Cases</span></a>
        </div>
    </nav>

    <section id="the-content">
        <div class="container">
            <section id="section-content">
                <div style="padding:1rem;">-->

                    @*<div class="outer">
                        <div class="inner">
                            <div class="tableFixHead">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="hard_left">Questions</th>
                                            <th class="next_left">Answers</th>
                                            <th>Partner 1</th>
                                            <th>Partner 2</th>
                                            <th>Partner 3</th>
                                            <th>Partner 4</th>
                                            <th>...</th>
                                        </tr>
                                        <tr>
                                            <td class="hard_left"></td>
                                            <td class="next_left"></td>
                                            <td>90%</td>
                                            <td>56%</td>
                                            <td>75%</td>
                                            <td>36%</td>
                                            <td>...</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="hard_left">Q1</td>
                                            <td class="next_left">A1</td>
                                            <td>
                                                <i class="far fa-times-circle" style="color:red; font-size: 2em;" aria-hidden="true"></i>
                                            </td>
                                            <td>
                                                <i class="far fa-check-circle" style="color:green; font-size: 2em;" aria-hidden="true"></i>
                                            </td>
                                            <td>
                                                <i class="far fa-times-circle" style="color:red; font-size: 2em;" aria-hidden="true"></i>
                                            </td>
                                            <td>
                                                <i class="far fa-check-circle" style="color:green; font-size: 2em;" aria-hidden="true"></i>
                                            </td>
                                            <td>
                                                <i class="far fa-times-circle" style="color:red; font-size: 2em;" aria-hidden="true"></i>
                                            </td>
                                        </tr>
                                        <tr>

                                            <td class="hard_left">Q2</td>
                                            <td class="next_left">A2</td>
                                            <td>
                                                <i class="far fa-times-circle" style="color:red; font-size: 2em;" aria-hidden="true"></i>
                                            </td>
                                            <td>
                                                <i class="far fa-check-circle" style="color:green; font-size: 2em;" aria-hidden="true"></i>
                                            </td>
                                            <td>
                                                <i class="far fa-times-circle" style="color:red; font-size: 2em;" aria-hidden="true"></i>
                                            </td>
                                            <td>
                                                <i class="far fa-check-circle" style="color:green; font-size: 2em;" aria-hidden="true"></i>
                                            </td>
                                            <td>
                                                <i class="far fa-times-circle" style="color:red; font-size: 2em;" aria-hidden="true"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hard_left">Q3</td>
                                            <td class="next_left">A3</td>
                                            <td>
                                                <i class="far fa-times-circle" style="color:red; font-size: 2em;" aria-hidden="true"></i>
                                            </td>
                                            <td>
                                                <i class="far fa-check-circle" style="color:green; font-size: 2em;" aria-hidden="true"></i>
                                            </td>
                                            <td>
                                                <i class="far fa-times-circle" style="color:red; font-size: 2em;" aria-hidden="true"></i>
                                            </td>
                                            <td>
                                                <i class="far fa-check-circle" style="color:green; font-size: 2em;" aria-hidden="true"></i>
                                            </td>
                                            <td>
                                                <i class="far fa-times-circle" style="color:red; font-size: 2em;" aria-hidden="true"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hard_left">Q4</td>
                                            <td class="next_left">A4</td>
                                            <td>
                                                <i class="far fa-times-circle" style="color:red; font-size: 2em;" aria-hidden="true"></i>
                                            </td>
                                            <td>
                                                <i class="far fa-check-circle" style="color:green; font-size: 2em;" aria-hidden="true"></i>
                                            </td>
                                            <td>
                                                <i class="far fa-times-circle" style="color:red; font-size: 2em;" aria-hidden="true"></i>
                                            </td>
                                            <td>
                                                <i class="far fa-check-circle" style="color:green; font-size: 2em;" aria-hidden="true"></i>
                                            </td>
                                            <td>
                                                <i class="far fa-times-circle" style="color:red; font-size: 2em;" aria-hidden="true"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hard_left">Q5</td>
                                            <td class="next_left">A5</td>
                                            <td>
                                                <i class="far fa-times-circle" style="color:red; font-size: 2em;" aria-hidden="true"></i>
                                            </td>
                                            <td>
                                                <i class="far fa-check-circle" style="color:green; font-size: 2em;" aria-hidden="true"></i>
                                            </td>
                                            <td>
                                                <i class="far fa-times-circle" style="color:red; font-size: 2em;" aria-hidden="true"></i>
                                            </td>
                                            <td>
                                                <i class="far fa-check-circle" style="color:green; font-size: 2em;" aria-hidden="true"></i>
                                            </td>
                                            <td>
                                                <i class="far fa-times-circle" style="color:red; font-size: 2em;" aria-hidden="true"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hard_left">Q6</td>
                                            <td class="next_left">A6</td>
                                            <td>
                                                <i class="far fa-times-circle" style="color:red; font-size: 2em;" aria-hidden="true"></i>
                                            </td>
                                            <td>
                                                <i class="far fa-check-circle" style="color:green; font-size: 2em;" aria-hidden="true"></i>
                                            </td>
                                            <td>
                                                <i class="far fa-times-circle" style="color:red; font-size: 2em;" aria-hidden="true"></i>
                                            </td>
                                            <td>
                                                <i class="far fa-check-circle" style="color:green; font-size: 2em;" aria-hidden="true"></i>
                                            </td>
                                            <td>
                                                <i class="far fa-times-circle" style="color:red; font-size: 2em;" aria-hidden="true"></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>*@

                    <!--<div class="tableFixHead">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Questions</th>
                                    <th >Answers</th>
                                    <th>Partner 1</th>
                                    <th>Partner 2</th>
                                    <th>Partner 3</th>
                                    <th>Partner 4</th>
                                    <th>...</th>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>90%</td>
                                    <td>56%</td>
                                    <td>75%</td>
                                    <td>36%</td>
                                    <td>...</td>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td >Q1</td>
                                    <td >A1</td>
                                    <td>
                                        <i class="far fa-times-circle" style="color:red; font-size: 2em;" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="far fa-check-circle" style="color:green; font-size: 2em;" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="far fa-times-circle" style="color:red; font-size: 2em;" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="far fa-check-circle" style="color:green; font-size: 2em;" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="far fa-times-circle" style="color:red; font-size: 2em;" aria-hidden="true"></i>
                                    </td>
                                </tr>
                                <tr>

                                    <td>Q2</td>
                                    <td>A2</td>
                                    <td>
                                        <i class="far fa-times-circle" style="color:red; font-size: 2em;" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="far fa-check-circle" style="color:green; font-size: 2em;" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="far fa-times-circle" style="color:red; font-size: 2em;" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="far fa-check-circle" style="color:green; font-size: 2em;" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="far fa-times-circle" style="color:red; font-size: 2em;" aria-hidden="true"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Q3</td>
                                    <td>A3</td>
                                    <td>
                                        <i class="far fa-times-circle" style="color:red; font-size: 2em;" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="far fa-check-circle" style="color:green; font-size: 2em;" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="far fa-times-circle" style="color:red; font-size: 2em;" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="far fa-check-circle" style="color:green; font-size: 2em;" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="far fa-times-circle" style="color:red; font-size: 2em;" aria-hidden="true"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Q4</td>
                                    <td>A4</td>
                                    <td>
                                        <i class="far fa-times-circle" style="color:red; font-size: 2em;" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="far fa-check-circle" style="color:green; font-size: 2em;" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="far fa-times-circle" style="color:red; font-size: 2em;" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="far fa-check-circle" style="color:green; font-size: 2em;" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="far fa-times-circle" style="color:red; font-size: 2em;" aria-hidden="true"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Q5</td>
                                    <td>A5</td>
                                    <td>
                                        <i class="far fa-times-circle" style="color:red; font-size: 2em;" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="far fa-check-circle" style="color:green; font-size: 2em;" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="far fa-times-circle" style="color:red; font-size: 2em;" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="far fa-check-circle" style="color:green; font-size: 2em;" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="far fa-times-circle" style="color:red; font-size: 2em;" aria-hidden="true"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Q6</td>
                                    <td>A6</td>
                                    <td>
                                        <i class="far fa-times-circle" style="color:red; font-size: 2em;" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="far fa-check-circle" style="color:green; font-size: 2em;" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="far fa-times-circle" style="color:red; font-size: 2em;" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="far fa-check-circle" style="color:green; font-size: 2em;" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="far fa-times-circle" style="color:red; font-size: 2em;" aria-hidden="true"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </section>
        </div>
    </section>
    @section Scripts {@Scripts.Render("~/bundles/jqueryval")}

</div>
<script src="~/Scripts/pages/browse.js"></script>-->


