﻿
@{
    ViewBag.Title = "Overview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Scripts/library/Analyze/Chart.css" rel="stylesheet" />
<script src="~/Scripts/library/Analyze/Chart.bundle.js"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<style>

    .tableFixHead {
        overflow: auto;
        height: 500px;
        width: 100%;
    }

    .tableFixHead table {
        border-collapse: collapse;
        width: 100%;
    }

    .tableFixHead th,
    .tableFixHead td {
        padding: 8px 16px;
    }


    td:first-child, th:first-child {
        position: sticky;
        left: 0;
        z-index: 1;
        background-color: white;
    }

    td:nth-child(2), th:nth-child(2) {
        position: sticky;
        left: 40px;
        z-index: 1;
        background-color: white;
    }

    .tableFixHead th {
        position: sticky;
        top: 0;
        background: #eee;
        z-index: 2
    }

    th:first-child, th:nth-child(2) {
        z-index: 3
    }
</style>

<div class="site-content">


    <section id="the-content">
        <div class="container">
            <div id="Extra" style="padding:1rem;"></div>
        </div>
    </section>

    @section Scripts {@Scripts.Render("~/bundles/jqueryval")}
    <script src="~/Scripts/pages/QuestionsResult.js"></script>

</div>
