﻿@{
    ViewBag.Title = "QuestionsTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Scripts/library/Analyze/Chart.css" rel="stylesheet" />
<script src="~/Scripts/library/Analyze/Chart.bundle.js"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<style>

    .collapsible {
        background-color: #d1cfcf;
        color: #016cba;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

    .collapsible:hover {
        background-color: #ffd300;
    }
    .active {
        background-color: white;
    }
    .collapsible:after {
        content: '\002B';
        color: black;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

    .active:after {
        content: "\2212";
        color: black;
    }

    .content {
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: white;
    }
</style>

<div class="site-content">


    <section id="the-content">
        <div class="container" style="padding:1rem;">
            <div id="Main"></div>
        </div>
    </section>

    @section Scripts {@Scripts.Render("~/bundles/jqueryval")}
    <script src="~/Scripts/pages/Questions.js"></script>
</div>





