﻿@{
    ViewBag.Title = "QuestionsTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Scripts/library/Analyze/Chart.css" rel="stylesheet" />
<script src="~/Scripts/library/Analyze/Chart.bundle.js"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<style>

    .collapsible {
        background-color: #d1cfcf;
        color: #016cba;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

    .collapsible:hover {
        background-color: #ffd300;
    }
    .active {
        background-color: white;
    }
        .collapsible:after {
            content: '\002B';
            color: black;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }

    .active:after {
        content: "\2212";
        color: black;
    }

    .content {
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: #f1f1f1;
    }
</style>

<div class="site-content">


    <section id="the-content">
        <div class="container" style="padding:1rem;">

            <div id="Questions"></div>

        </div>

            <div id="question_1">
                <button class="collapsible" id="1" data-applicable="N">Question Name</button>
                <div class="content">
                    <p>Question Description</p>
                    <form>
                        <input type="radio" name="choice" value="Scripting"> Scripting
                        <input type="radio" name="choice" value="Programming"> Programming
                        <input type="radio" name="choice" value="Application"> Application
                        <input type="radio" name="choice" value="None of These"> None of These
                    </form>
                </div>
            </div>

            <div>
                <button class="collapsible">Question Name</button>
                <div class="content">
                    <p>Question Description</p>
                    <input type="range" name="rangeInput" min="0" max="10" onchange="updateTextInput(this.value);">
                    <input type="text" id="textInput" value="">

                    <script>
                        function updateTextInput(val) {
                            document.getElementById('textInput').value = val;
                        }
                    </script>
                    <form >
                        <select id="cars" name="cars">
                            <option value="volvo">=</option>
                            <option value="saab">!=</option>
                            <option value="fiat">></option>
                            <option value="fiat">>=</option>
                            <option value="fiat"><</option>
                            <option value="fiat"><=</option>
                        </select>
                    </form>
                </div>
            </div>






            <script>
                var coll = document.getElementsByClassName("collapsible");
                var i;

                for (i = 0; i < coll.length; i++) {
                    coll[i].addEventListener("click", function () {
                        console.log(this.id);
                        this.classList.toggle("active");
                        var content = this.nextElementSibling;
                        var d = document.getElementById("question_" + this.id);
                        if (content.style.maxHeight) {
                            content.style.maxHeight = null;
                            d.dataset.applicable = "N";
                        } else {
                            content.style.maxHeight = content.scrollHeight + "px";
                            d.dataset.applicable = "y";
                        }

                    });
                }
            </script>


        </div>
    </section>

    @section Scripts {@Scripts.Render("~/bundles/jqueryval")}

</div>





