﻿
@{
    ViewBag.Title = "Select Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/svg.min.css" rel="stylesheet" />

<div class="site-content">

    <section id="the-content">
        <div class="container">
            <div id="Main" style="padding:1rem;">


                <input type="range" min="0" max="100" onchange="update(this.value)" oninput="update(this.value)" />

                <div id="show"/>

            </div>
        </div>
    </section>


    @section Scripts {@Scripts.Render("~/bundles/jqueryval")}
    <script type="text/javascript">

        function clicker() {

            var value = null;
            while (value == null) {
                var value = prompt("Percentage", "50");
                if (value == null || value == "") {
                    value = null;
                }
                else {
                    var i = parseInt(value) || -1
                    if ( i < 0 || i > 100) {
                        value = null;
                    }
                }
            }

        }

        function update(iPercentage) {

            document.getElementById('show').innerHTML = "";

            var sContent = '';
            sContent += `
                            <svg width="400" height="400" viewBox="0 0 400 400">

                                <defs>
                                    <linearGradient id="lG1" gradientTransform="rotate(0)">
                                        <stop offset="`+ iPercentage + `%" stop-color="#f8ab29" />
                                        <stop offset="`+ iPercentage + `%" stop-color="gray" />
                                    </linearGradient>

                                </defs>

                                <g fill="none" fill-rule="evenodd">
                                    <circle cx="20" cy="20" r="20" fill="url('#lG1')" />
                                    <ellipse fill="url('#lG1')" onclick=clicker() cx="200" cy="20" rx="44" ry="19" />
                                </g>
                            </svg>`;
            $('#show').append(sContent);
            $('#show').show();
            console.log(sContent);
        }

        $(function () {
            update(30);
        });

    </script>


</div>



