﻿
@{
    ViewBag.Title = "Email Not Confirmed";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Your email is not confirmed. <br />
        Please confirm your email first.
    </p>
</div>

