﻿
<script src="~/Scripts/library/select2.js"></script>
<script src="~/Scripts/library/datatables/datatables.js"></script>
<script src="~/Scripts/library/datatables/datatables-bootstrap.js"></script>
<script src="~/Scripts/library/datatables/datatables-buttons.js"></script>
<script src="~/Scripts/library/datatables/datatables-responsive.js"></script>
<script src="~/Scripts/library/datatables/datatables-select.js"></script>
<script src="~/Scripts/library/datatables/datatables-editor.js"></script>


<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/datatables.css" rel="stylesheet" />

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Configuration</title>
</head>
<body>
    <div class="content-wrapper">
        <select id="selector" onchange="changeSelector()">
            <option value="Companies">Companies</option>
            <option value="Softwares">Softwares</option>
            <option value="Cases">Cases</option>
            <option value="Users">Users</option>
            <option value="Sectors">Sectors</option>
            <option value="Activities">Activities</option>
            <option value="Functions">Functions</option>
            <option value="Categories">Categories</option>
        </select>
        <table id="table"></table>
    </div>
</body>
</html>

<style>

    #selector {
        width: 200px;
        margin: 10px;
    }
    
</style>

<script src="~/Scripts/pages/config-basemodel.js"></script>
<script src="~/Scripts/pages/config-company.js"></script>
<script src="~/Scripts/pages/config-software.js"></script>
<script src="~/Scripts/pages/config-case.js"></script>
<script src="~/Scripts/pages/config-user.js"></script>
<script src="~/Scripts/pages/config.js"></script>