﻿@model MES4SME.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    ViewBag.BodyClass = "login";
}

<div class="site-content">
    <section id="the-content">
        <div class="container">
            <div class="row no-gutters">

                <div class="col-left col-lg-6 d-xs-none d-sm-none d-md-none d-lg-block">
                    <figure class="image image--1by1" style="background-image: url( '/assets/images/isye-tool-master-bg.jpg' );">
                        <img src="/assets/images/isye-tool-master-bg.jpg" class="img-fluid" alt="" />
                    </figure>
                </div>

                <div class="col-right col-lg-6">
                    <div class="w-100">
                        <h2>@ViewBag.Title</h2>
                        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            <label style="font-size :12px">
                                The password needs to have at least 6 characters
                                Containing a lower cased letter, an upper cased letter, a number and a special character
                            </label>
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10" style="padding-left:0;">
                                    <input type="submit" value="Change password" class="btn btn-secondary" />
                                </div>
                            </div>
                        }

                    </div>
                </div>

            </div>
        </div>
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}