﻿@model MES4SME.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
    ViewBag.bodyClass = "login";
    Response.Cache.SetCacheability(HttpCacheability.NoCache);
} 

<div class="site-content">
    <section id="the-content">
        <div class="container">
            <div class="row no-gutters">

                <div class="col-left col-lg-6 d-xs-none d-sm-none d-md-none d-lg-block">
                    <figure class="image image--1by1" style="background-image: url( '/assets/images/isye-tool-master-bg.jpg' );">
                        <img src="/assets/images/isye-tool-master-bg.jpg" class="img-fluid" alt="" />
                    </figure>
                </div>

                @*<div class="col-right col-lg-6">
                    <div class="w-100">
                        <h2>@ViewBag.Title</h2>
                        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.NewPassword, new { @class = "ontrol-label" })
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10" style="padding-left:0;">
                                    <input type="submit" value="Change password" class="btn btn-secondary" />
                                </div>
                            </div>
                        }

                    </div>
                </div>*@

                <div class="col-right col-lg-6">
            <div class="w-100">
                <h2>Account settings</h2>

                <div class="row">
                    <div class="col-left col-lg-12 ">
                        <strong>Email</strong>
                    </div>
                    <div class="col-left col-lg-12 ">
                        @Model.Email
                    </div>
                </div>

                <section UserName>
                    <div class="row">
                        <div class="col-left col-lg-12">
                            <strong>UserName</strong>
                        </div>
                    </div>

                    <div id="UserName1">
                        <div class="row">
                            <div class="col-left col-lg-9 ">
                                @Model.UserName
                            </div>
                            <div class="col-left col-lg-3 ">
                                <button id="ShowChangeUserName" class="btn btn-secondary">Change</button>
                            </div>
                        </div>
                    </div>

                    <div id="UserName2">
                        @using (Html.BeginForm("ChangeUserName", "Manage", FormMethod.Post))
                        {
                            <div class="row">
                                <div class="col-left col-lg-9 ">
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                </div>
                                <div class="col-left col-lg-3 ">
                                    <input type="submit" value="Save" class="btn btn-secondary" />
                                </div>
                            </div>
                        }
                    </div>
                </section>

                <section JobTitle>
                    <div class="row">
                        <div class="col-left col-lg-12">
                            <strong>Job title</strong>
                        </div>
                    </div>

                    <div id="JobTitle1">
                        <div class="row">
                            <div class="col-left col-lg-9 ">
                                @Model.JobTitle
                            </div>
                            <div class="col-left col-lg-3 ">
                                <button id="ShowChangeJobTitle" class="btn btn-secondary">Change</button>
                            </div>
                        </div>
                    </div>

                    <div id="JobTitle2">
                        @using (Html.BeginForm("ChangeJobTitle", "Manage", FormMethod.Post))
                        {
                            <div class="row">
                                <div class="col-left col-lg-9 ">
                                    @Html.TextBoxFor(m => m.JobTitle, new { @class = "form-control" })
                                </div>
                                <div class="col-left col-lg-3">
                                    <input type="submit" value="Save" class="btn btn-secondary" />
                                </div>
                            </div>
                        }
                    </div>
                </section>

                <section PhoneNumber>
                    <div class="row">
                        <div class="col-left col-lg-12">
                            <strong>PhoneNumber</strong>
                        </div>
                    </div>

                    <div id="PhoneNumber1">
                        <div class="row">
                            <div class="col-left col-lg-9 ">
                                @Model.PhoneNumber
                            </div>
                            <div class="col-left col-lg-3">
                                <button id="ShowChangePhoneNumber" class="btn btn-secondary">Change</button>
                            </div>
                        </div>
                    </div>

                    <div id="PhoneNumber2">
                        @using (Html.BeginForm("ChangePhoneNumber", "Manage", FormMethod.Post))
                        {
                            <div class="row">
                                <div class="col-left col-lg-9 ">
                                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                                </div>
                                <div class="col-left col-lg-3 ">
                                    <input type="submit" value="Save" class="btn btn-secondary" />
                                </div>
                            </div>
                        }
                    </div>
                </section>

                @if (Model.HasPassword)
                {
                    <div class="row no-gutters">
                        <div class="col-left col-lg-3 ">     <strong>Password</strong> </div>
                        <div class="col-left col-lg-9 ">       @Html.ActionLink("Change your password", "ChangePassword")    </div>
                    </div>
                }

            </div>
        </div>

            </div>
        </div>
    </section>
</div>

<script>
    $(document).ready(function () {

        $("#ShowChangeJobTitle").click(function () {
            $("#JobTitle2").show();
            $("#JobTitle1").hide();

            $("#UserName2").hide();
            $("#UserName1").show();

            $("#PhoneNumber2").hide();
            $("#PhoneNumber1").show();
        });
        $("#ShowChangePhoneNumber").click(function(){
            $("#PhoneNumber2").show();
            $("#PhoneNumber1").hide();

            $("#JobTitle2").hide();
            $("#JobTitle1").show();

            $("#UserName2").hide();
            $("#UserName1").show();
        });
        $("#ShowChangeUserName").click(function(){
            $("#UserName2").show();
            $("#UserName1").hide();

            $("#PhoneNumber2").hide();
            $("#PhoneNumber1").show();

            $("#JobTitle2").hide();
            $("#JobTitle1").show();
        });

        // Startup function
        $(function () {
            $("#JobTitle2").hide();
            $("#PhoneNumber2").hide();
            $("#UserName2").hide(); 
            $.get('@Url.Action("RefreshLoginPartial", "Manage")', function (result) {
                $('#loginPartial').html(result);
            });
        });

    });
</script>
