.btn {
    transition: all 350ms;

    font-weight: 500;
    font-size: rem( 14px );
    line-height: rem( 20px );

    padding-left: rem( 10px );
    padding-right: rem( 10px );

    border-radius: 0;
    position: relative;

    [class^="fa"] {
        line-height: normal;
    }

    &.icon-before,
    &.icon-after {
        [class^="fa"] {
            transition: opacity 350ms;

            width: rem( 38px );
            font-size: rem( 14px );
            text-align: center;

            opacity: 0;

            position: absolute;
            top: 50%;

            transform: translateY( -50% );
        }

        &:hover {
            [class^="fa"] {
                opacity: 1;
            }
        }
    }

    &.icon-before {
        [class^="fa"] {
            left: 0;
        }

        &:hover {
            padding-left: rem( 38px );
        }
    }

    &.icon-after {
        [class^="fa"] {
            right: 0;
        }

        &:hover {
            padding-right: rem( 38px );
        }
    }

    &-primary {
        border-color: theme-color( 'secondary' );
        background-color: theme-color( 'secondary' );

        [class^="fa"] {
            color: rgba( #fff, .65 );
        }

        &.hover,
        &:hover {
            border-color: darken( theme-color( 'secondary' ), 9% );
            background-color: darken( theme-color( 'secondary' ), 9% );
        }
    }

    &-secondary {
        color: theme-color( 'secondary' );
        border-color: theme-color( 'primary' );
        background-color: theme-color( 'primary' );

        [class^="fa"] {
            color: rgba( #fff, .65 );
        }

        &.hover,
        &:hover {
            border-color: darken( theme-color( 'primary' ), 9% );
            background-color: darken( theme-color( 'primary' ), 9% );
        }

        

    }

    &-light {
        border-color: gray( '100' );
        background-color: gray( '100' );

        [class^="fa"] {
            color: rgba( #fff, .65 );
        }

        &:hover,
        &.hover {
            color: #fff;
            border-color: theme-color( 'secondary' );
            background-color: theme-color( 'secondary' );
        }
    }

    &-link {
        color: $text-color;
        padding-left: 0;

        [class^="fa"] {
            color: theme-color( 'primary' );
        }

        &:hover,
        &.hover {
            text-decoration: none;
        }
    }




}
