.card {
    color: $text-color;

    border: 0;
    border-radius: 0;

    > a {
        color: inherit;

        text-decoration: none;
        display: block;
    }

    .card-media {
        overflow: hidden;

        > img {
            transition: transform 350ms;
        }
    }

    .card-body {
        @include screen-min( 'lg' ) {
            padding: rem( 30px );
        }

        .card-desc, p, ul, ol, table {
            margin-bottom: rem( 12px );
            &:last-child { margin-bottom: 0; }
        }
    }

    &:hover,
    &.hover {
        .card-media {
            > img {
                transform: scale( 1.07 );
            }
        }
    }
}
