.card.company {
    .company-logo {
        max-width: rem( 96px );
        margin-bottom: rem( 20px );
    }

    .address {
        font-size: 85%;
        padding: rem( 6px ) rem( 12px );

        background-color: gray( '100' );
    }
}
