form#search-form {
    $h: 42px;

    min-width: rem( 320px );

    border-radius: rem( 4px );
    position: relative;

    .form-control {
        height: rem( $h );

        font-size: rem( 14px );
        font-family: $text-font-family;
        font-weight: $text-font-weight;

        padding-right: rem( $h );

        border-color: gray( '200' );
        background-color: transparent;
    }

    button[type="submit"] {
        transition: background-color 350ms;

        width: rem( $h );
        height: rem( $h );

        color: theme-color( 'secondary' );

        padding: 0;

        border: 0;
        border-radius: 0 rem( 4px ) rem( 4px ) 0;
        background-color: transparent;

        position: absolute;
        top: 0; right: 0;

        &:hover,
        &.hover {
            background-color: gray( '100' );
        }
    }
}
