.wysiwyg {
    img {
        margin-bottom: rem( 16px );
    }

    h1, h2, h3, h4, h5, h6 {
        margin-top: rem( 32px );
        &:first-child { margin-top: 0; }

        + h1, + h2, + h3, + h4, + h5, + h6 { margin-top: 0; }
    }
}
