.card {
    color: $text-color;
    border: 0;
    border-radius: 0;

    .show-on-hover {
        display: none;
    }

    > a {
        color: inherit;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        height: 100%;
        max-width: 100%;
    }

    .card-media {
        margin-bottom: 1em;

        > img {
            transition: transform 350ms;
            object-fit: contain;
            max-width: 16rem;
            height: 4em;
        }
    }

    .card-body {
        @include screen-min( 'lg' ) {
            padding: rem( 30px );
        }

        .card-desc, p, ul, ol, table {
            margin-bottom: rem( 12px );

            &:last-child {
                margin-bottom: 0;
            }
        }

        + .card-footer {
            padding-top: 0;
        }

        .card-desc {
            /*text-justify: inter-word;
            text-align: justify;*/
        }
    }

    .card-footer {
        @include screen-min( 'lg' ) {
            padding: rem( 30px );
        }

        border: 0;
        background-color: transparent;

        > ul {
            padding: .375rem .75rem;
            background-color: #f5f5f5;
        }
    }

    .two-lines {
        max-height: 3rem;
        overflow: hidden;
    }

    &:hover,
    &.hover {
        cursor: pointer;

        .card-media {
            > img {
                transform: scale( 1.07 );
            }
        }

        .show-on-hover {
            display: inline-block;
        }

        .two-lines {
            max-height: unset;
        }
    }
}

.block {
    position: relative;
}

.block .overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.block .inner {
    position: relative;
    pointer-events: none;
    z-index: 1;
}

.block .inner a {
    pointer-events: all;
}