.card.category {
    transition: color 350ms, background-color 350ms;
    background-color: theme-color( 'secondary' );

    [class^="fa"] {
        transition: transform 350ms;

        color: theme-color( 'primary' );
        font-size: rem( 36px );
    }

    .card-media {
        //= pushbox
        padding-top: percentage( 2 / 3 );
    }

    .card-content {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        position: absolute;
        top: 0; left: 0;
    }

    .card-title {
        color: #fff;

        margin-top: rem( 8px );
        &:first-child { margin-top: 0; }
        margin-bottom: 0;
    }


    /**
     * Hover
     */
    &:hover {
        color: theme-color( 'secondary' );
        background-color: theme-color( 'primary' );

        [class^="fa"] {
            color: inherit;
            transform: scale( 1.15 );
        }

        .card-title {
            color: inherit;
        }
    }
}
