.image {
    margin-bottom: 0;
    position: relative;

    &[style*="background-image"] {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        img {
            width: 100%;
            height: 100%;

            opacity: 0;

            position: absolute;
            top: 0; left: 0;
        }
    }

    &--1by1 {
        padding-top: percentage( 1 );
    }
}
