.pagination {
    .page-item {
        .page-link {
            color: theme-color( 'secondary' );
            text-align: center;

            min-width: rem( 38px );
            display: block;
        }

        &:first-child,
        &:last-child {
            .page-link {
                border-radius: 0;
            }
        }

        &.active {
            .page-link {
                color: #fff;
                background-color: theme-color( 'secondary' );
            }
        }
    }
}
