.properties-list {
    font-size: 85%;
    list-style: none;
    padding-left: 0;

    li {
        padding-left: rem( 24px + 6px );
        position: relative;

        + li {
            margin-top: rem( 6px );
        }
    }

    [class^="fa"] {
        width: rem( 24px );

        color: theme-color( 'primary' );
        line-height: rem( 20px );
        text-align: center;

        position: absolute;
        top: 0; left: 0;
    }
}
