#search-form {
    /*form#search-form {*/
    $h: 42px;

    min-width: rem( 320px );
    border-radius: rem( 4px );
    position: relative;

    .form-control {
        height: rem( $h );
        font-size: rem( 14px );
        font-family: $text-font-family;
        font-weight: $text-font-weight;
        padding-right: rem( $h );
        border-color: gray( '200' );
        background-color: transparent;
    }

    button[type="submit"] {
        transition: background-color 350ms;
        width: rem( $h );
        height: rem( $h );
        color: theme-color( 'secondary' );
        padding: 0;
        border: 0;
        border-radius: 0 rem( 4px ) rem( 4px ) 0;
        background-color: transparent;
        position: absolute;
        top: 0;
        right: 0;

        &:hover,
        &.hover {
            background-color: gray( '100' );
        }
    }

    #result {
        padding: 30px;
        background-color: gray( '100' );

        .section-title {
            margin-top: 0;
            margin-bottom: 30px;
        }

        .card {
            margin-bottom: 15px;
        }

        .card-title {
            display: inline-block;
            position: relative;

            [class^="fa"] {
                color: rgba( theme-color( 'secondary' ), .5 );
                font-size: rem( 18px );
                position: absolute;
                top: 50%;
                right: rem( -8px );
                transform: translate( 100%, -50% );
            }
        }

        .search-result {
            + .section-title {
                margin-top: 60px;
            }

            &:last-child .card {
                margin-bottom: 0;
            }
        }
    }

    @include screen-max( 'sm' ) {
        margin-top:20px;
    }
}
