.is-page-company-detail {
    section#the-content {
        .section-content {

        }
    }

    section#company-detail {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    section#related-cases {
        .section-title {
            font-weight: 400;
            text-transform: uppercase;
            margin-bottom: rem( 24px );
        }
    }
}
