.nav#categories-nav {
    /*padding-top: rem( 30px );*/
    /*@include screen-min( 'lg' ) { padding-top: rem( 45px ); }*/
    .nav-link {
        transition: color 350ms;
        color: #fff;
        font-weight: 500;
        line-height: 0;
        text-align: center;
        margin-left: rem( 15px );
        margin-right: rem( 15px );
        padding: rem( 20px ) rem( 32px );
        background-color: theme-color( 'secondary' );

        @supports( display: flex ) {
            flex-grow: 1;
            flex-shrink: 1;
        }

        span,
        [class^="fa"] {
            line-height: rem( 24px );
            display: inline-block;
            vertical-align: top;
        }

        [class^="fa"] {
            color: theme-color( 'primary' );
            font-size: rem( 22px );

            @include screen-min( 'md' ) {
                margin-right: rem( 12px );
            }
        }
        /**
         * Hover
         */
        &:hover,
        &.active {
            color: theme-color( 'secondary' );
            background-color: theme-color( 'primary' );

            [class^="fa"] {
                color: inherit;
            }
        }

        @include screen-max( 'sm' ) {
            /*margin-left: 0;
            margin-right: 0;*/

            span {
                display: none;
            }
        }
    }
}
