.site {
    width: 100%;
    display: flex;
    flex-direction: column;

    position: relative;

    &-header,
    &-content,
    &-footer {
        min-height: 1px;
        position: relative;
        z-index: 1;
    }
}

.tooltip {

    .tooltip-inner {
        text-align: left;
        color: #016cba;
        background-color: #ffd300;
        font-weight: 600;
    }

    &.show {
        opacity: 1;
    }

    &.bs-tooltip-top {
        margin-top: -10px;

        .arrow::before {
            border-top-color: #ffd300;
        }
    }

    &.bs-tooltip-right {
        margin-left: 10px;

        .arrow::before {
            border-right-color: #ffd300;
        }
    }

    &.bs-tooltip-bottom {
        margin-top: 10px;

        .arrow::before {
            border-bottom-color: #ffd300;
        }
    }

    &.bs-tooltip-left {
        margin-left: -5px;

        .arrow::before {
            border-left-color: #ffd300;
        }
    }
}