section#the-content {
    > .container {
        padding-left: 0;
        padding-right: 0;

        background-color: gray( '100' );
    }

    .section-header {
        padding: rem( 24px ) rem( 30px );
        background-color: #fff;

        .section-title {
            margin-bottom: 0;
        }

        .breadcrumb {
            font-size: rem( 14px );
            opacity: .75;

            margin-top: rem( 2px );
            margin-bottom: 0;
            padding: 0;

            background-color: transparent;
        }
    }

    .section-content {
        padding: rem( 30px );

        .card {
            margin-bottom: rem( 30px );
        }

        + .section-footer {
            padding-top: 0;
        }
    }

    .section-footer {
        padding: rem( 30px );

        .pagination {
            margin-bottom: rem( 30px );
        }
    }

}
