﻿<link href="~/Content/choices.min.css" rel="stylesheet" />
<script src="~/Scripts/library/choices.js"></script>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search</title>
</head>

<body>
    <div class="content-wrapper">
        <select id="choices-multiple-labels" multiple placeholder="Please select a new search tag..."></select>
        <div id="result"></div>
    </div>
</body>
</html>

<style>

    .choices__list--dropdown {
        position: relative;
    }

</style>

<script src="~/Scripts/pages/Search.js"></script>