﻿
@{
    ViewBag.Title = "Configuration";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@if (User.IsInRole("Administrator"))
{
    <p hidden id="Role">Administrator</p>
}

@if (User.IsInRole("Owner"))
{
    <p hidden id="Role">Owner</p>
}


<script src="~/Scripts/library/select2.js"></script>
<script src="~/Scripts/library/datatables/datatables.js"></script>
<script src="~/Scripts/library/datatables/datatables-bootstrap.js"></script>
<script src="~/Scripts/library/datatables/datatables-buttons.js"></script>
<script src="~/Scripts/library/datatables/datatables-responsive.js"></script>
<script src="~/Scripts/library/datatables/datatables-select.js"></script>
<script src="~/Scripts/library/datatables/datatables-editor.js"></script>

<link href="~/Content/datatables.css" rel="stylesheet" />
<link href="~/Content/datatables-fa.css" rel="stylesheet" />


<div class="site-content" style="display:none">

    <nav id="categories-nav" class="nav">
        <div class="container d-flex">
            <a class="nav-link " href="/Companies"><i class="far fa-industry" aria-hidden="true"></i><span>Companies</span></a>
            <a class="nav-link " href="/Software"><i class="far fa-compact-disc" aria-hidden="true"></i><span>Software</span></a>
            <a class="nav-link " href="/Cases"><i class="far fa-vote-yea" aria-hidden="true"></i><span>Cases</span></a>
        </div>
    </nav>

    <section id="the-content">
        <div class="container">
            <div class="section-content">
                <div id="actions">
                    <select id="selector" class="custom-select">
                        <option value="Companies">Companies</option>
                        <option value="Softwares">Softwares</option>
                        <option value="Cases">Cases</option>
                        @if (User.IsInRole("Administrator"))
                        {
                            <option value="Users">Users</option>
                            <option value="Activities">Activities</option>
                            <option value="Functions">Functions</option>
                            <option value="Categories">Categories</option>
                            <option value="Sectors">Sectors</option>
                        }
                    </select>
                    <div id="statusMessage"></div>
                </div>
                <table id="table"></table>
            </div>
        </div>
    </section>
</div>


<div id="editModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 style="padding-top: 1rem;padding-left: 1rem;" class="modal-title">Titel</h4>
                <button style="margin: initial;" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" data-content="remove" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<style>

    #selector {
        width: 200px;
        margin: 10px 0;
        float: left;
    }

    #statusMessage {
        float: right;
        margin: 18px 0;
        transition: opacity .25s ease-in-out;
       -moz-transition: opacity .25s ease-in-out;
       -webkit-transition: opacity .25s ease-in-out;
    }

    #actions {
        margin-left: 0;
    }

    .dataTables_wrapper {
        overflow-x: auto;
    }

    table.dataTable tbody tr.even {
        background-color: #F5F5F5;
    }

    table.dataTable tbody > tr.selected, table.dataTable tbody > tr > .selected {
        background-color: #CACACA;
    }

    .errorLabel {
        display: none;
        margin-bottom: 0;
        font-size: 85%;
        color: red;
    }

    #details-table {
        box-shadow: 0 8px 12px rgba( 0, 0, 0,.35 );
        width: 100%;
    }

    .alert {
        margin: 1em;
    }

    .fancy-checkbox input[type="checkbox"],
    .fancy-checkbox .checked {
        display: none;
    }
 
    .fancy-checkbox input[type="checkbox"]:checked ~ .checked
    {
        display: inline-block;
    }
 
    .fancy-checkbox input[type="checkbox"]:checked ~ .unchecked
    {
        display: none;
    }

    .fancy-checkbox label
    {
        cursor: pointer;
        margin-bottom: 0;
    }

</style>

@if (User.IsInRole("Administrator"))
{
    <script src="~/Scripts/pages/config-user.js"></script>
    <script src="~/Scripts/pages/config-basemodel.js"></script>
}
<script src="~/Scripts/pages/config-company.js"></script>
<script src="~/Scripts/pages/config-software.js"></script>
<script src="~/Scripts/pages/config-case.js"></script>
<script src="~/Scripts/pages/config.js"></script>
