﻿@model MES4SME.Models.ContactViewModel
@{
    ViewBag.Title = "Contact";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Contact information</h2>
<
<address>

    <br />

    <div>

        <div class="row">

            <div class="col-md-2">
                <img src="~/Pics/logo_UGent_CK_NL_RGB_2400_kleur.png" width="150" />
            </div>
            <div class="col-md-10">
                <strong>Onderzoeksgroep Industrial Systems Engineering, Universiteit Gent, Campus Kortrijk </strong> <br />
                Graaf Karel de Goedelaan 5, 8500 Kortrijk<br />
                Telefoon: 056 24 12 21
            </div>

        </div>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <div class="row">
                    <div class="col-md-3"> <strong>Projectleider: </strong> </div>
                    <div class="col-md-9"> <a href="mailto:Johannes.Cottyn@ugent.be">Prof. dr. ing. Johannes Cottyn</a><br /> </div>
                </div>
                <div class="row">
                    <div class="col-md-3"> <strong>Project manager: </strong> </div>
                    <div class="col-md-9"> <a href="mailto:Alessandro.Biondi@ugent.be">dr. ir. Alessandro Biondi</a><br /></div>
                </div>
                <div class="row">
                    <div class="col-md-3"> <strong>Project medewerker: </strong> </div>
                    <div class="col-md-9"> <a href="mailto:Stijn.Huysentruyt@ugent.be">ing. Stijn Huysentruyt</a><br /> </div>
                </div>
                <div class="row">
                    <div class="col-md-3"> <strong>Project medewerker: </strong> </div>
                    <div class="col-md-9"> <a href="mailto:Axl.VanAlboom@ugent.be">ing. Axl Van Alboom</a><br /></div>
                </div>
                <br />
            </div>
        </div>


    </div>

    <br />

    <div>

        <div class="row">

            <div class="col-md-2">
                <img src="~/Pics/FM_logo.png" width="150" />
            </div>
            <div class="col-md-10">
                <strong>Core lab ProductionS, Flanders make </strong> <br />
                Marksesteenweg 58, 8500 Kortrijk<br />
            </div>

        </div>
        <br />
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <div class="row">
                    <div class="col-md-3"> <strong>Project manager: </strong> </div>
                    <div class="col-md-9"> <a href="mailto:Geert.Malfait@flandersmake.be">Geert Malfait</a><br /> </div>
                </div>
                <div class="row">
                    <div class="col-md-3"> <strong>Manager core lab: </strong> </div>
                    <div class="col-md-9"> <a href="mailto:Maarten.Witters@flandersmake.be">Maarten Witters</a><br /></div>
                </div>
                <br />
            </div>
        </div>


    </div>

    <br />

    <div>

        <div class="row">

            <div class="col-md-2">
                <img src="~/Pics/Bphot-logo-horz.jpg" width="150" />
            </div>
            <div class="col-md-10">
                <strong>Onderzoeksgroep B-PHOT, Vrije Universiteit Brussel </strong> <br />
                Vollezelestraat 46, 1755 Gooik<br />
            </div>

        </div>
        <br />
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <div class="row">
                    <div class="col-md-3"> <strong>Core lab manager B-PHOT: </strong> </div>
                    <div class="col-md-9"> <a href="mailto:jverps@b-phot.org">Prof. Jürgen van Erps</a><br /> </div>
                </div>
                <br />
            </div>
        </div>


    </div>

    <br />

    <div>

        <div class="row">

            <div class="col-md-2">
                <img src="~/Pics/VOKA_WVL_LOGO_RGB.png" width="150" />
            </div>
            <div class="col-md-10">
                <strong>VOKA West-Vlaanderen </strong> <br />
                President Kennedylaan9/A, 8500 Kortrijk<br />
            </div>

        </div>
        <br />
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <div class="row">
                    <div class="col-md-3"> <strong>Kennis & advies - innovatie </strong> </div>
                    <div class="col-md-9"> <a href="mailto:Marijke.Boucique@voka.be">Marijke Boucique</a><br /> </div>
                </div>
                <br />
            </div>
        </div>


    </div>

    <br />

    <div>

        <div class="row">

            <div class="col-md-2">
                <img src="~/Pics/agoria_logo_rgb-pos.png" width="150" />
            </div>
            <div class="col-md-10">
                <strong>Agoria </strong> <br />
                Bd A. Reyerslaan 80, 1030 Brussel<br />
            </div>

        </div>
        <br />
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <div class="row">
                    <div class="col-md-3"> <strong>Business Group Leader </strong> </div>
                    <div class="col-md-9"> <a href="mailto:alain.wayenberg@agoria.be">Alain Wayenberg</a><br /> </div>
                </div>
                <br />
            </div>
        </div>


    </div>

    <br />

    <div>

        <div class="row">

            <div class="col-md-2">
                <img src="~/Pics/vlaio.png" width="150" />
            </div>
            <div class="col-md-10">

                <strong>Agentschap Innoveren & Ondernemen</strong> <br />
                Koning Albert II-laan 35 bus 12, 1030 Brussel<br />

            </div>

        </div>
        <br />
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <div class="row">
                    <div class="col-md-3"> <strong>Netwerker Industrie 4.0 </strong> </div>
                    <div class="col-md-9"> <a href="mailto:tom.mondelaers@vlaio.be">Tom Mondelaers</a><br /> </div>
                </div>
                <br />
            </div>
        </div>


    </div>


</address>

<h2>Send a Email</h2>

@using (Html.BeginForm("SendContactEmail", "Contact", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Sender, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Sender, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Subject, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Subject, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.EmailBody, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.EmailBody, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Send" />
        </div>
    </div>
}
