﻿
@{
    ViewBag.Title = "Email Send";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.bodyClass = "login";
}

<div class="site-content">
    <section id="the-content">
        <div class="container">
            <div class="row no-gutters">

                <div class="col-left col-lg-6 d-xs-none d-sm-none d-md-none d-lg-block">
                    <figure class="image image--1by1" style="background-image: url( '/assets/images/isye-tool-master-bg.jpg' );">
                        <img src="/assets/images/isye-tool-master-bg.jpg" class="img-fluid" alt="" />
                    </figure>
                </div>

                <div class="col-right col-lg-6">
                    <div class="w-100">
                        <h2>Email Send</h2>
                        Thanks for sending the mail. <br />We'll answer as soon as possible
                    </div>
                </div>

            </div>
        </div>
    </section>

    @section Scripts { @Scripts.Render("~/bundles/jqueryval")}

</div>