﻿@model MES4SME.Models.HelpViewModel
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Help";
    ViewBag.bodyClass = "login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="site-content">
    <section id="the-content">
        <div class="container">

            <div class="row no-gutters">

                <div class="col-left col-lg-6 d-xs-none d-sm-none d-md-none d-lg-block">
                    <figure class="image image--1by1" style="background-image: url( '/assets/images/isye-tool-master-bg.jpg' );">
                        <img src="/assets/images/isye-tool-master-bg.jpg" class="img-fluid" alt="" />
                    </figure>
                </div>

                <div class="col-right col-lg-6">
                    <div class="w-100">
                        <h2 style="margin-bottom:1.5rem;">Downloads</h2>
                        <p><a href="/Files/MES4SME_UserGuide_V1.pdf" target="_blank"><i class="far fa-file-pdf" style="margin-right:0.5em;"></i>User guide</a></p>
                        @if(User.IsInRole("Administrator") || User.IsInRole("Owner"))
                        {
                            <p><a href="/Files/MES4SME_OwnerGuide_V1.pdf" target="_blank"><i class="far fa-file-pdf" style="margin-right:0.5em;"></i>Owner guide</a></p>
                            <p><a href="/Files/DemoWebtool.mp4" download target="_blank"><i class="far fa-file-pdf" style="margin-right:0.5em;"></i>Demo</a></p>
                        }

                        @if(User.IsInRole("Administrator") || User.IsInRole("Owner") || User.IsInRole("User"))
                        {
                            <h2>Need more help?</h2>

                                using (Html.BeginForm("AskForHelp", "Contact", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-left col-lg-4 ">  @Html.LabelFor(m => m.Subject, new { @class = "control-label" })</div>
                                            <div class="col-left col-lg-8 ">  @Html.ValidationMessageFor(m => m.Subject, "", new { @class = "text-danger" })</div>
                                        </div>
                                        @Html.TextBoxFor(m => m.Subject, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-left col-lg-4 ">  @Html.LabelFor(m => m.EmailBody, new { @class = "control-label" })</div>
                                            <div class="col-left col-lg-8 ">  @Html.ValidationMessageFor(m => m.EmailBody, "", new { @class = "text-danger" })</div>
                                        </div>
                                        @Html.TextAreaFor(m => m.EmailBody, new { @class = "form-control", style = "height: 190px; resize: none; overflow: auto" })
                                    </div>
                                    <div class="form-group" style="margin-bottom:0;">
                                        <input type="submit" class="btn btn-secondary" value="Send" />
                                    </div>
                                }
                        }
                        </div>
                </div>

            </div>
        </div>
    </section>

    @section Scripts {@Scripts.Render("~/bundles/jqueryval")}

</div>
