﻿@model MES4SME.Models.SendEmailViewModel
@{
    ViewBag.Title = "Case email";
    ViewBag.bodyClass = "send-email";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ReturnUrl = "~/Contact/SendEmail";
}

<div class="site-content">
    <section id="the-content">
        <div class="container">
        
            <h2 class="section-title">
                Do you have a case for us?
            </h2>
              
            @using (Html.BeginForm("EmailSend", "Contact", FormMethod.Post))
            {
                <div class="row">
        
                    @Html.AntiForgeryToken()
                    <div class="col-left col-lg-6 ">
                        <div class="w-100">                                             
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-left col-lg-3 ">  @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })</div>
                                    <div class="col-left col-lg-9 ">  @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })</div>
                                </div>
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-left col-lg-3 ">  @Html.LabelFor(m => m.LastName, new { @class = "control-label" })</div>
                                    <div class="col-left col-lg-9 ">  @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })</div>
                                </div>
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-left col-lg-3 ">  @Html.LabelFor(m => m.Sender, new { @class = "control-label" })</div>
                                    <div class="col-left col-lg-9 ">  @Html.ValidationMessageFor(m => m.Sender, "", new { @class = "text-danger" })</div>
                                </div>
                                @Html.TextBoxFor(m => m.Sender, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-left col-lg-3 ">  @Html.LabelFor(m => m.Subject, new { @class = "control-label" })</div>
                                    <div class="col-left col-lg-9 ">  @Html.ValidationMessageFor(m => m.Subject, "", new { @class = "text-danger" })</div>
                                </div>
                                @Html.TextBoxFor(m => m.Subject, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                   
                    <div class="col-right col-lg-6">
                        <div class="w-100">

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-left col-lg-3 ">  @Html.LabelFor(m => m.EmailBody, new { @class = "control-label" })</div>
                                    <div class="col-left col-lg-9 ">  @Html.ValidationMessageFor(m => m.EmailBody, "", new { @class = "text-danger" })</div>
                                </div>
                                @Html.TextAreaFor(m => m.EmailBody, new { @class = "form-control", style = "height: 235px; resize: none; overflow: auto" })
                            </div>
        
                            <div class="form-group">
                                <input type="submit" class="btn btn-secondary" value="Send" />
                            </div>
                        </div>
                    </div>
        
                </div>       
            }
        
        </div>
    </section>

    @section Scripts {@Scripts.Render("~/bundles/jqueryval")}

</div>

