@mixin padding-top( $offset: 0 ) {
    padding-top: rem( 32px + $offset );
    @include screen-min( 'md' ) { padding-top: rem( 48px + $offset ) }
    @include screen-min( 'lg' ) { padding-top: rem( 64px + $offset ) }
}

@mixin padding-bottom( $offset: 0 ) {
    padding-bottom: rem( 32px + $offset );
    @include screen-min( 'md' ) { padding-bottom: rem( 48px + $offset ) }
    @include screen-min( 'lg' ) { padding-bottom: rem( 64px + $offset ) }
}
