#fixed-bg {
    width: 100%;
    height: 100vh;

    background-color: theme-color( 'secondary' );

    position: absolute;
    top: 0; left: 0;

    &::after {
        width: 100%;
        height: 100%;

        content: '';
        display: block;

        opacity: .15;

        background-image: url( '../images/isye-tool-master-bg.jpg' );
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        position: absolute;
        top: 0; left: 0;
    }
}
