.navbar#primary-nav {
    .navbar-brand {
        line-height: 0;

        padding-top: rem( ( 48px - 32px ) / 2 );
        padding-bottom: rem( ( 48px - 32px ) / 2 );

        img {
            width: auto;
            height: rem( 32px );
        }
    }

    .navbar-collapse {
        .navbar-nav {
            > li {
                > a {
                    color: theme-color( 'primary' );
                    font-weight: 500;
                }

                > .btn {
                    margin-left: rem( 12px );

                    &.btn-primary {
                        color: #fff;
                    }

                    &.btn-secondary {
                        color: theme-color( 'secondary' );

                        [class^="fa"] {
                            color: inherit;
                        }
                    }
                }
            }
        }
    }

    @include screen-min( 'lg' ) {
        .navbar-brand {
            padding-top: rem( ( 64px - 48px ) / 2 );
            padding-bottom: rem( ( 64px - 48px ) / 2 );

            img {
                height: rem( 48px );
            }
        }
    }

    @include screen-min( 'xl' ) {
        .navbar-brand {
            padding-top: rem( ( 80px - 56px ) / 2 );
            padding-bottom: rem( ( 80px - 56px ) / 2 );

            img {
                height: rem( 56px );
            }
        }

        .navbar-collapse {
            .navbar-nav {
                > li {
                    > a {

                    }
                }
            }
        }
    }
}
