.site {
    width: 100%;
    display: flex;
    flex-direction: column;

    position: relative;

    &-header,
    &-content,
    &-footer {
        min-height: 1px;
        position: relative;
        z-index: 1;
    }
}
