﻿@charset "UTF-8";
/**
 *
 * Abstracts
 *
 */
/**
 *
 * Utilities
 *
 */
.text-center {
  text-align: center !important; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.d-flex {
  display: flex !important; }

.d-none {
  display: none !important; }

@media (max-width: 539px) {
  .d-xs-none {
    display: none !important; } }

@media (min-width: 540px) and (max-width: 719px) {
  .d-sm-none {
    display: none !important; } }

@media (min-width: 720px) and (max-width: 959px) {
  .d-md-none {
    display: none !important; } }

@media (min-width: 960px) and (max-width: 1139px) {
  .d-lg-none {
    display: none !important; } }

@media (min-width: 1140px) {
  .d-xl-none {
    display: none !important; } }

/**
 *
 * Theme
 *
 */
html {
  height: 100%; }

body {
  min-height: 100%;
  display: flex;
  color: #444444;
  font-family: "poppins", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5; }

a {
  color: #016CBA; }

h1, h2, h3, h4, h5, h6 {
  color: #016CBA;
  font-family: "poppins", sans-serif;
  font-weight: 700;
  line-height: 1.25; }
  h1 small , h2 small , h3 small , h4 small , h5 small , h6 small  {
    font-weight: 300; }
  h1 em, h2 em, h3 em, h4 em, h5 em, h6 em {
    color: #016CBA;
    font-style: normal; }

h1 {
  font-size: 2.10938rem; }

h2 {
  font-size: 1.64063rem; }

h3 {
  font-size: 1.23047rem; }

h4 {
  font-size: 1.05469rem; }

h5 {
  font-size: 0.87891rem; }

.icon {
  color: #fff2b3; }

input {
  color: #444444;
  font-size: 15px;
  font-family: "poppins", sans-serif; }
  input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    color: #444444;
    font-size: 15px;
    font-family: "poppins", sans-serif;
    -webkit-box-shadow: 0 0 0 30px white inset !important; }

.address span {
  display: inline-block; }

.address .street-address {
  display: block; }

.address .postal-code + .locality {
  margin-left: 0.5rem; }

.btn {
  transition: all 350ms;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.5rem 0.625rem;
  border-radius: 0;
  position: relative; }
  .btn.icon-before [class^="fa"], .btn.icon-after [class^="fa"] {
    transition: opacity 350ms;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
    text-align: center;
    opacity: 0;
    margin-top: 0.0625rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
  .btn.icon-before:hover [class^="fa"], .btn.icon-after:hover [class^="fa"] {
    opacity: 1; }
  .btn.icon-before [class^="fa"] {
    left: 0.5rem; }
  .btn.icon-before:hover {
    padding-left: 2.375rem; }
  .btn.icon-after [class^="fa"] {
    right: 0.5rem; }
  .btn.icon-after:hover {
    padding-right: 2.375rem; }
  .btn-primary {
    border-color: #016CBA;
    background-color: #016CBA; }
    .btn-primary [class^="fa"] {
      color: rgba(255, 255, 255, 0.65); }
    .btn-primary.hover, .btn-primary:hover {
      border-color: #01518c;
      background-color: #01518c; }
  .btn-secondary {
    color: #016CBA;
    border-color: #FFD300;
    background-color: #FFD300; }
    .btn-secondary [class^="fa"] {
      color: #016CBA; }
    .btn-secondary.hover, .btn-secondary:hover {
      color: #016CBA;
      border-color: #d1ad00;
      background-color: #d1ad00; }
  .btn-light {
    border-color: whitesmoke;
    background-color: whitesmoke; }
    .btn-light [class^="fa"] {
      color: rgba(255, 255, 255, 0.65); }
    .btn-light:hover, .btn-light.hover {
      color: #fff;
      border-color: #016CBA;
      background-color: #016CBA; }
  .btn-link {
    color: #444444;
    padding-left: 0; }
    .btn-link [class^="fa"] {
      color: #FFD300; }
    .btn-link:hover, .btn-link.hover {
      text-decoration: none; }

.card.category {
  transition: color 350ms, background-color 350ms;
  background-color: #016CBA;
  /**
     * Hover
     */ }
  .card.category [class^="fa"] {
    transition: transform 350ms;
    color: #FFD300;
    font-size: 2.25rem; }
  .card.category .card-media {
    padding-top: 66.66667%; }
  .card.category .card-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0; }
  .card.category .card-title {
    color: #fff;
    margin-top: 0.5rem;
    margin-bottom: 0; }
    .card.category .card-title:first-child {
      margin-top: 0; }
  .card.category:hover {
    color: #016CBA;
    background-color: #FFD300; }
    .card.category:hover [class^="fa"] {
      color: inherit;
      transform: scale(1.15); }
    .card.category:hover .card-title {
      color: inherit; }

.card.company .company-logo {
  max-width: 6rem;
  margin-bottom: 1.25rem; }

.card.company .address {
  font-size: 85%;
  padding: 0.375rem 0.75rem;
  background-color: whitesmoke; }

.card {
  color: #444444;
  border: 0;
  border-radius: 0; }
  .card .show-on-hover {
    display: none; }
  .card > a {
    color: inherit;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 100%; }
  .card .card-media {
    margin-bottom: 1em; }
    .card .card-media > img {
      transition: transform 350ms;
      object-fit: contain;
      max-width: 16rem;
      height: 4em; }
  @media (min-width: 992px) {
    .card .card-body {
      padding: 1.875rem; } }
  .card .card-body .card-desc, .card .card-body p, .card .card-body ul, .card .card-body ol, .card .card-body table {
    margin-bottom: 0.75rem; }
    .card .card-body .card-desc:last-child, .card .card-body p:last-child, .card .card-body ul:last-child, .card .card-body ol:last-child, .card .card-body table:last-child {
      margin-bottom: 0; }
  .card .card-body + .card-footer {
    padding-top: 0; }
  .card .card-body .card-desc {
    /*text-justify: inter-word;
            text-align: justify;*/ }
  .card .card-footer {
    border: 0;
    background-color: transparent; }
    @media (min-width: 992px) {
      .card .card-footer {
        padding: 1.875rem; } }
    .card .card-footer > ul {
      padding: .375rem .75rem;
      background-color: #f5f5f5; }
  .card .two-lines {
    max-height: 3rem;
    overflow: hidden; }
  .card:hover, .card.hover {
    cursor: pointer; }
    .card:hover .card-media > img, .card.hover .card-media > img {
      transform: scale(1.07); }
    .card:hover .show-on-hover, .card.hover .show-on-hover {
      display: inline-block; }
    .card:hover .two-lines, .card.hover .two-lines {
      max-height: unset; }

.block {
  position: relative; }

.block .overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0; }

.block .inner {
  position: relative;
  pointer-events: none;
  z-index: 1; }

.block .inner a {
  pointer-events: all; }

.form-control {
  font-weight: 300; }

.image {
  margin-bottom: 0;
  position: relative; }
  .image[style*="background-image"] {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .image[style*="background-image"] img {
      width: 100%;
      height: 100%;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0; }
  .image--1by1 {
    padding-top: 100%; }

ul.u-seamless, dl.u-seamless, ol.u-seamless {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0; }

.pagination .page-item .page-link {
  color: #016CBA;
  text-align: center;
  min-width: 2.375rem;
  display: block; }

.pagination .page-item:first-child .page-link, .pagination .page-item:last-child .page-link {
  border-radius: 0; }

.pagination .page-item.active .page-link {
  color: #fff;
  background-color: #016CBA; }

.properties-list {
  font-size: 85%;
  list-style: none;
  padding-left: 0; }
  .properties-list li {
    padding-left: 1.875rem;
    position: relative; }
    .properties-list li + li {
      margin-top: 0.375rem; }
  .properties-list [class^="fa"] {
    width: 1.5rem;
    color: #FFD300;
    line-height: 1.25rem;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0; }

#search-form {
  /*form#search-form {*/
  min-width: 20rem;
  border-radius: 0.25rem;
  position: relative; }
  #search-form .form-control {
    height: 2.625rem;
    font-size: 0.875rem;
    font-family: "poppins", sans-serif;
    font-weight: 300;
    padding-right: 2.625rem;
    border-color: #eeeeee;
    background-color: transparent; }
  #search-form button[type="submit"] {
    transition: background-color 350ms;
    width: 2.625rem;
    height: 2.625rem;
    color: #016CBA;
    padding: 0;
    border: 0;
    border-radius: 0 0.25rem 0.25rem 0;
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0; }
    #search-form button[type="submit"]:hover, #search-form button[type="submit"].hover {
      background-color: whitesmoke; }
  #search-form #result {
    padding: 30px;
    background-color: whitesmoke; }
    #search-form #result .section-title {
      margin-top: 0;
      margin-bottom: 30px; }
    #search-form #result .card {
      margin-bottom: 15px; }
    #search-form #result .card-title {
      display: inline-block;
      position: relative; }
      #search-form #result .card-title [class^="fa"] {
        color: rgba(1, 108, 186, 0.5);
        font-size: 1.125rem;
        position: absolute;
        top: 50%;
        right: -0.5rem;
        transform: translate(100%, -50%); }
    #search-form #result .search-result + .section-title {
      margin-top: 60px; }
    #search-form #result .search-result:last-child .card {
      margin-bottom: 0; }
  @media (max-width: 767.98px) {
    #search-form {
      margin-top: 20px; } }

.wysiwyg img {
  margin-bottom: 1rem; }

.wysiwyg h1, .wysiwyg h2, .wysiwyg h3, .wysiwyg h4, .wysiwyg h5, .wysiwyg h6 {
  margin-top: 2rem; }
  .wysiwyg h1:first-child, .wysiwyg h2:first-child, .wysiwyg h3:first-child, .wysiwyg h4:first-child, .wysiwyg h5:first-child, .wysiwyg h6:first-child {
    margin-top: 0; }
  .wysiwyg h1 + h1, .wysiwyg h1 + h2, .wysiwyg h1 + h3, .wysiwyg h1 + h4, .wysiwyg h1 + h5, .wysiwyg h1 + h6, .wysiwyg h2 + h1, .wysiwyg h2 + h2, .wysiwyg h2 + h3, .wysiwyg h2 + h4, .wysiwyg h2 + h5, .wysiwyg h2 + h6, .wysiwyg h3 + h1, .wysiwyg h3 + h2, .wysiwyg h3 + h3, .wysiwyg h3 + h4, .wysiwyg h3 + h5, .wysiwyg h3 + h6, .wysiwyg h4 + h1, .wysiwyg h4 + h2, .wysiwyg h4 + h3, .wysiwyg h4 + h4, .wysiwyg h4 + h5, .wysiwyg h4 + h6, .wysiwyg h5 + h1, .wysiwyg h5 + h2, .wysiwyg h5 + h3, .wysiwyg h5 + h4, .wysiwyg h5 + h5, .wysiwyg h5 + h6, .wysiwyg h6 + h1, .wysiwyg h6 + h2, .wysiwyg h6 + h3, .wysiwyg h6 + h4, .wysiwyg h6 + h5, .wysiwyg h6 + h6 {
    margin-top: 0; }

#fixed-bg {
  width: 100%;
  height: 100vh;
  background-color: #016CBA;
  position: fixed;
  top: 0;
  left: 0; }
  #fixed-bg::after {
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .15;
    background-image: url("../images/isye-tool-master-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0; }

.nav#categories-nav {
  /*padding-top: rem( 30px );*/
  /*@include screen-min( 'lg' ) { padding-top: rem( 45px ); }*/ }
  .nav#categories-nav .nav-link {
    transition: color 350ms;
    color: #fff;
    font-weight: 500;
    line-height: 0;
    text-align: center;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    padding: 1.25rem 2rem;
    background-color: #016CBA;
    /**
         * Hover
         */ }
    @supports (display: flex) {
      .nav#categories-nav .nav-link {
        flex-grow: 1;
        flex-shrink: 1; } }
    .nav#categories-nav .nav-link span,
    .nav#categories-nav .nav-link [class^="fa"] {
      line-height: 1.5rem;
      display: inline-block;
      vertical-align: top; }
    .nav#categories-nav .nav-link [class^="fa"] {
      color: #FFD300;
      font-size: 1.375rem; }
      @media (min-width: 768px) {
        .nav#categories-nav .nav-link [class^="fa"] {
          margin-right: 0.75rem; } }
    .nav#categories-nav .nav-link:hover, .nav#categories-nav .nav-link.active {
      color: #016CBA;
      background-color: #FFD300; }
      .nav#categories-nav .nav-link:hover [class^="fa"], .nav#categories-nav .nav-link.active [class^="fa"] {
        color: inherit; }
    @media (max-width: 767.98px) {
      .nav#categories-nav .nav-link {
        /*margin-left: 0;
            margin-right: 0;*/ }
        .nav#categories-nav .nav-link span {
          display: none; } }

.navbar#primary-nav .navbar-brand {
  line-height: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }
  .navbar#primary-nav .navbar-brand img {
    width: auto;
    height: 2rem; }

.navbar#primary-nav .navbar-toggler-icon {
  color: #FFD300;
  height: 1em; }

@media (max-width: 767.98px) {
  .navbar#primary-nav .navbar-collapse .navbar-nav > li {
    width: auto;
    text-align: center;
    margin: 10px; }
    .navbar#primary-nav .navbar-collapse .navbar-nav > li.config {
      display: none; } }

.navbar#primary-nav .navbar-collapse .navbar-nav > li > a {
  color: #FFD300;
  font-weight: 500; }

.navbar#primary-nav .navbar-collapse .navbar-nav > li > .btn {
  margin-left: 0.75rem; }
  .navbar#primary-nav .navbar-collapse .navbar-nav > li > .btn.btn-primary {
    color: #fff; }
  .navbar#primary-nav .navbar-collapse .navbar-nav > li > .btn.btn-secondary {
    color: #016CBA; }
    .navbar#primary-nav .navbar-collapse .navbar-nav > li > .btn.btn-secondary [class^="fa"] {
      color: inherit; }

@media (min-width: 992px) {
  .navbar#primary-nav .navbar-brand {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; }
    .navbar#primary-nav .navbar-brand img {
      height: 3rem; } }

@media (min-width: 1200px) {
  .navbar#primary-nav .navbar-brand {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem; }
    .navbar#primary-nav .navbar-brand img {
      height: 3.5rem; } }

.site {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative; }
  .site-header, .site-content, .site-footer {
    min-height: 1px;
    position: relative;
    z-index: 1; }

.tooltip .tooltip-inner {
  text-align: left;
  color: #016cba;
  background-color: #ffd300;
  font-weight: 600; }

.tooltip.show {
  opacity: 1; }

.tooltip.bs-tooltip-top {
  margin-top: -10px; }
  .tooltip.bs-tooltip-top .arrow::before {
    border-top-color: #ffd300; }

.tooltip.bs-tooltip-right {
  margin-left: 10px; }
  .tooltip.bs-tooltip-right .arrow::before {
    border-right-color: #ffd300; }

.tooltip.bs-tooltip-bottom {
  margin-top: 10px; }
  .tooltip.bs-tooltip-bottom .arrow::before {
    border-bottom-color: #ffd300; }

.tooltip.bs-tooltip-left {
  margin-left: -5px; }
  .tooltip.bs-tooltip-left .arrow::before {
    border-left-color: #ffd300; }

section#the-content > .container {
  padding-left: 0;
  padding-right: 0;
  background-color: whitesmoke; }

section#the-content .section-header {
  padding: 1.5rem 1.875rem;
  background-color: #fff; }
  section#the-content .section-header .section-title {
    margin-bottom: 0; }
  section#the-content .section-header .breadcrumb {
    font-size: 0.875rem;
    opacity: .75;
    margin-top: 0.125rem;
    margin-bottom: 0;
    padding: 0;
    background-color: transparent; }

section#the-content .section-content {
  padding: 1.875rem; }
  section#the-content .section-content .card {
    margin-bottom: 1.875rem; }
  section#the-content .section-content + .section-footer {
    padding-top: 0; }

section#the-content .section-footer {
  padding: 1.875rem; }
  section#the-content .section-footer .pagination {
    margin-bottom: 1.875rem; }

.is-page-login .site-content,
.is-page-register .site-content,
.is-page-forgot-password .site-content {
  margin-top: auto;
  margin-bottom: auto; }

.is-page-login .image,
.is-page-register .image,
.is-page-forgot-password .image {
  height: 100%;
  padding-top: 0; }
  @media (min-width: 768px) {
    .is-page-login .image,
    .is-page-register .image,
    .is-page-forgot-password .image {
      min-height: 360px; } }
  @media (min-width: 992px) {
    .is-page-login .image,
    .is-page-register .image,
    .is-page-forgot-password .image {
      min-height: 480px; } }
  @media (min-width: 1200px) {
    .is-page-login .image,
    .is-page-register .image,
    .is-page-forgot-password .image {
      min-height: 570px; } }

.is-page-login .col-right,
.is-page-register .col-right,
.is-page-forgot-password .col-right {
  display: flex;
  align-items: center;
  padding: 2rem; }
  @media (min-width: 992px) {
    .is-page-login .col-right,
    .is-page-register .col-right,
    .is-page-forgot-password .col-right {
      padding: 3rem; } }
  .is-page-login .col-right h1, .is-page-login .col-right h2, .is-page-login .col-right h3, .is-page-login .col-right h4, .is-page-login .col-right h5,
  .is-page-login .col-right form,
  .is-page-register .col-right h1,
  .is-page-register .col-right h2,
  .is-page-register .col-right h3,
  .is-page-register .col-right h4,
  .is-page-register .col-right h5,
  .is-page-register .col-right form,
  .is-page-forgot-password .col-right h1,
  .is-page-forgot-password .col-right h2,
  .is-page-forgot-password .col-right h3,
  .is-page-forgot-password .col-right h4,
  .is-page-forgot-password .col-right h5,
  .is-page-forgot-password .col-right form {
    margin-top: 1rem; }
    @media (min-width: 992px) {
      .is-page-login .col-right h1, .is-page-login .col-right h2, .is-page-login .col-right h3, .is-page-login .col-right h4, .is-page-login .col-right h5,
      .is-page-login .col-right form,
      .is-page-register .col-right h1,
      .is-page-register .col-right h2,
      .is-page-register .col-right h3,
      .is-page-register .col-right h4,
      .is-page-register .col-right h5,
      .is-page-register .col-right form,
      .is-page-forgot-password .col-right h1,
      .is-page-forgot-password .col-right h2,
      .is-page-forgot-password .col-right h3,
      .is-page-forgot-password .col-right h4,
      .is-page-forgot-password .col-right h5,
      .is-page-forgot-password .col-right form {
        margin-top: 1.5rem; } }
    .is-page-login .col-right h1:first-child, .is-page-login .col-right h2:first-child, .is-page-login .col-right h3:first-child, .is-page-login .col-right h4:first-child, .is-page-login .col-right h5:first-child,
    .is-page-login .col-right form:first-child,
    .is-page-register .col-right h1:first-child,
    .is-page-register .col-right h2:first-child,
    .is-page-register .col-right h3:first-child,
    .is-page-register .col-right h4:first-child,
    .is-page-register .col-right h5:first-child,
    .is-page-register .col-right form:first-child,
    .is-page-forgot-password .col-right h1:first-child,
    .is-page-forgot-password .col-right h2:first-child,
    .is-page-forgot-password .col-right h3:first-child,
    .is-page-forgot-password .col-right h4:first-child,
    .is-page-forgot-password .col-right h5:first-child,
    .is-page-forgot-password .col-right form:first-child {
      margin-top: 0; }
    .is-page-login .col-right h1 + h1, .is-page-login .col-right h1 + h2, .is-page-login .col-right h1 + h3, .is-page-login .col-right h1 + h4, .is-page-login .col-right h1 + h5, .is-page-login .col-right h2 + h1, .is-page-login .col-right h2 + h2, .is-page-login .col-right h2 + h3, .is-page-login .col-right h2 + h4, .is-page-login .col-right h2 + h5, .is-page-login .col-right h3 + h1, .is-page-login .col-right h3 + h2, .is-page-login .col-right h3 + h3, .is-page-login .col-right h3 + h4, .is-page-login .col-right h3 + h5, .is-page-login .col-right h4 + h1, .is-page-login .col-right h4 + h2, .is-page-login .col-right h4 + h3, .is-page-login .col-right h4 + h4, .is-page-login .col-right h4 + h5, .is-page-login .col-right h5 + h1, .is-page-login .col-right h5 + h2, .is-page-login .col-right h5 + h3, .is-page-login .col-right h5 + h4, .is-page-login .col-right h5 + h5,
    .is-page-login .col-right form + h1,
    .is-page-login .col-right form + h2,
    .is-page-login .col-right form + h3,
    .is-page-login .col-right form + h4,
    .is-page-login .col-right form + h5,
    .is-page-register .col-right h1 + h1,
    .is-page-register .col-right h1 + h2,
    .is-page-register .col-right h1 + h3,
    .is-page-register .col-right h1 + h4,
    .is-page-register .col-right h1 + h5,
    .is-page-register .col-right h2 + h1,
    .is-page-register .col-right h2 + h2,
    .is-page-register .col-right h2 + h3,
    .is-page-register .col-right h2 + h4,
    .is-page-register .col-right h2 + h5,
    .is-page-register .col-right h3 + h1,
    .is-page-register .col-right h3 + h2,
    .is-page-register .col-right h3 + h3,
    .is-page-register .col-right h3 + h4,
    .is-page-register .col-right h3 + h5,
    .is-page-register .col-right h4 + h1,
    .is-page-register .col-right h4 + h2,
    .is-page-register .col-right h4 + h3,
    .is-page-register .col-right h4 + h4,
    .is-page-register .col-right h4 + h5,
    .is-page-register .col-right h5 + h1,
    .is-page-register .col-right h5 + h2,
    .is-page-register .col-right h5 + h3,
    .is-page-register .col-right h5 + h4,
    .is-page-register .col-right h5 + h5,
    .is-page-register .col-right form + h1,
    .is-page-register .col-right form + h2,
    .is-page-register .col-right form + h3,
    .is-page-register .col-right form + h4,
    .is-page-register .col-right form + h5,
    .is-page-forgot-password .col-right h1 + h1,
    .is-page-forgot-password .col-right h1 + h2,
    .is-page-forgot-password .col-right h1 + h3,
    .is-page-forgot-password .col-right h1 + h4,
    .is-page-forgot-password .col-right h1 + h5,
    .is-page-forgot-password .col-right h2 + h1,
    .is-page-forgot-password .col-right h2 + h2,
    .is-page-forgot-password .col-right h2 + h3,
    .is-page-forgot-password .col-right h2 + h4,
    .is-page-forgot-password .col-right h2 + h5,
    .is-page-forgot-password .col-right h3 + h1,
    .is-page-forgot-password .col-right h3 + h2,
    .is-page-forgot-password .col-right h3 + h3,
    .is-page-forgot-password .col-right h3 + h4,
    .is-page-forgot-password .col-right h3 + h5,
    .is-page-forgot-password .col-right h4 + h1,
    .is-page-forgot-password .col-right h4 + h2,
    .is-page-forgot-password .col-right h4 + h3,
    .is-page-forgot-password .col-right h4 + h4,
    .is-page-forgot-password .col-right h4 + h5,
    .is-page-forgot-password .col-right h5 + h1,
    .is-page-forgot-password .col-right h5 + h2,
    .is-page-forgot-password .col-right h5 + h3,
    .is-page-forgot-password .col-right h5 + h4,
    .is-page-forgot-password .col-right h5 + h5,
    .is-page-forgot-password .col-right form + h1,
    .is-page-forgot-password .col-right form + h2,
    .is-page-forgot-password .col-right form + h3,
    .is-page-forgot-password .col-right form + h4,
    .is-page-forgot-password .col-right form + h5 {
      margin-top: 0; }

.is-page-login .form-control,
.is-page-register .form-control,
.is-page-forgot-password .form-control {
  border-radius: 0;
  border-color: transparent; }

.is-page-case-detail section#the-content .section-content .editObject {
  font-size: x-large;
  float: right;
  left: 24px;
  color: #016cba;
  padding-right: 3px;
  padding-left: 16px;
  position: relative;
  top: -46px;
  display: none; }

.is-page-case-detail section#the-content .section-content .editObject:hover {
  color: #ffd300; }

.is-page-case-detail section#case-detail {
  padding-top: 30px;
  padding-bottom: 30px; }
  .is-page-case-detail section#case-detail .row {
    align-items: center; }

.is-page-case-detail section#related-cases .section-title, .is-page-case-detail section#related-cases h1, .is-page-case-detail section#related-cases h2, .is-page-case-detail section#related-cases h3, .is-page-case-detail section#related-cases h4, .is-page-case-detail section#related-cases h5, .is-page-case-detail section#related-cases h6, .is-page-case-detail section#editor-content .section-title, .is-page-case-detail section#editor-content h1, .is-page-case-detail section#editor-content h2, .is-page-case-detail section#editor-content h3, .is-page-case-detail section#editor-content h4, .is-page-case-detail section#editor-content h5, .is-page-case-detail section#editor-content h6 {
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1.5rem; }

.is-page-case-detail #categories-functions .section-title, .is-page-case-detail #categories-functions h1, .is-page-case-detail #categories-functions h2, .is-page-case-detail #categories-functions h3, .is-page-case-detail #categories-functions h4, .is-page-case-detail #categories-functions h5, .is-page-case-detail #categories-functions h6 {
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1.5rem; }

.is-page-case-detail #categories-functions .row > div {
  padding: 15px; }

.is-page-case-detail #categories-functions .row .cat-fu {
  height: 100%;
  background-color: white; }
  .is-page-case-detail #categories-functions .row .cat-fu p {
    margin-bottom: 0;
    padding: 1em;
    text-transform: uppercase;
    font-weight: 400; }
    .is-page-case-detail #categories-functions .row .cat-fu p i {
      color: #ffd300;
      margin-right: 0.5em; }
  .is-page-case-detail #categories-functions .row .cat-fu ol, .is-page-case-detail #categories-functions .row .cat-fu ul {
    list-style: none;
    padding: 0.5em 2em;
    font-size: 85%; }
    .is-page-case-detail #categories-functions .row .cat-fu ol li:last-child, .is-page-case-detail #categories-functions .row .cat-fu ul li:last-child {
      padding-bottom: 1em; }
    .is-page-case-detail #categories-functions .row .cat-fu ol li::before, .is-page-case-detail #categories-functions .row .cat-fu ul li::before {
      content: "\f138";
      /* Add content: \2022 is the CSS Code/unicode for a bullet */
      color: #ffd300;
      /* Change the color */
      /*font-weight: bold;*/
      /* If you want it to be bold */
      display: inline-block;
      /* Needed to add space between the bullet and the text */
      width: 1em;
      /* Also needed for space (tweak if needed) */
      margin-left: -1.5em;
      /* Also needed for space (tweak if needed) */
      font-family: "Font Awesome 5 Pro"; }

.is-page-company-detail section#the-content .section-content .editObject {
  font-size: x-large;
  float: right;
  left: 24px;
  color: #016cba;
  padding-right: 3px;
  padding-left: 16px;
  position: relative;
  top: -46px;
  display: none; }

.is-page-company-detail section#the-content .section-content .editObject:hover {
  color: #ffd300; }

.is-page-company-detail section#company-detail {
  padding-top: 30px;
  padding-bottom: 30px; }
  .is-page-company-detail section#company-detail .card {
    height: 100%; }
  .is-page-company-detail section#company-detail .row {
    align-items: center; }

.is-page-company-detail section#related-cases .section-title, .is-page-company-detail section#related-cases h1, .is-page-company-detail section#related-cases h2, .is-page-company-detail section#related-cases h3, .is-page-company-detail section#related-cases h4, .is-page-company-detail section#related-cases h5, .is-page-company-detail section#related-cases h6, .is-page-company-detail section#editor-content .section-title, .is-page-company-detail section#editor-content h1, .is-page-company-detail section#editor-content h2, .is-page-company-detail section#editor-content h3, .is-page-company-detail section#editor-content h4, .is-page-company-detail section#editor-content h5, .is-page-company-detail section#editor-content h6 {
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1.5rem; }

.is-page-software-detail section#the-content .section-content .editObject {
  font-size: x-large;
  float: right;
  left: 24px;
  color: #016cba;
  padding-right: 3px;
  padding-left: 16px;
  position: relative;
  top: -46px;
  display: none; }

.is-page-software-detail section#the-content .section-content .editObject:hover {
  color: #ffd300; }

.is-page-software-detail section#software-detail {
  padding-top: 30px;
  padding-bottom: 30px; }
  .is-page-software-detail section#software-detail .card {
    height: 100%; }
  .is-page-software-detail section#software-detail .row {
    align-items: center; }

.is-page-software-detail section#related-cases .section-title, .is-page-software-detail section#related-cases h1, .is-page-software-detail section#related-cases h2, .is-page-software-detail section#related-cases h3, .is-page-software-detail section#related-cases h4, .is-page-software-detail section#related-cases h5, .is-page-software-detail section#related-cases h6, .is-page-software-detail section#editor-content .section-title, .is-page-software-detail section#editor-content h1, .is-page-software-detail section#editor-content h2, .is-page-software-detail section#editor-content h3, .is-page-software-detail section#editor-content h4, .is-page-software-detail section#editor-content h5, .is-page-software-detail section#editor-content h6 {
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1.5rem; }

.is-page-software-detail #categories-functions .section-title, .is-page-software-detail #categories-functions h1, .is-page-software-detail #categories-functions h2, .is-page-software-detail #categories-functions h3, .is-page-software-detail #categories-functions h4, .is-page-software-detail #categories-functions h5, .is-page-software-detail #categories-functions h6 {
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1.5rem; }

.is-page-software-detail #categories-functions .row > div {
  padding: 15px; }

.is-page-software-detail #categories-functions .row .cat-fu {
  height: 100%;
  background-color: white; }
  .is-page-software-detail #categories-functions .row .cat-fu p {
    margin-bottom: 0;
    padding: 1em;
    text-transform: uppercase;
    font-weight: 400; }
    .is-page-software-detail #categories-functions .row .cat-fu p i {
      color: #ffd300;
      margin-right: 0.5em; }
  .is-page-software-detail #categories-functions .row .cat-fu ol, .is-page-software-detail #categories-functions .row .cat-fu ul {
    list-style: none;
    padding: 0.5em 2em;
    font-size: 85%; }
    .is-page-software-detail #categories-functions .row .cat-fu ol li:last-child, .is-page-software-detail #categories-functions .row .cat-fu ul li:last-child {
      padding-bottom: 1em; }
    .is-page-software-detail #categories-functions .row .cat-fu ol li::before, .is-page-software-detail #categories-functions .row .cat-fu ul li::before {
      content: "\f138";
      /* Add content: \2022 is the CSS Code/unicode for a bullet */
      color: #ffd300;
      /* Change the color */
      /*font-weight: bold;*/
      /* If you want it to be bold */
      display: inline-block;
      /* Needed to add space between the bullet and the text */
      width: 1em;
      /* Also needed for space (tweak if needed) */
      margin-left: -1.5em;
      /* Also needed for space (tweak if needed) */
      font-family: "Font Awesome 5 Pro"; }

.is-page-dashboard .site-content {
  margin-top: auto;
  margin-bottom: auto; }

.is-page-dashboard .card.category {
  margin-bottom: 1.875rem; }

.is-page-dashboard div#search-form {
  position: relative; }
  .is-page-dashboard div#search-form .form-control {
    height: 4rem;
    padding: 0.75rem 4rem 0.75rem 1rem;
    border: 0;
    border-radius: 0;
    background-color: #fff; }
    @media (min-width: 768px) {
      .is-page-dashboard div#search-form .form-control {
        padding-left: 1.25rem;
        padding-right: 1.25rem; } }
    @media (min-width: 992px) {
      .is-page-dashboard div#search-form .form-control {
        padding-left: 1.5rem;
        padding-right: 1.5rem; } }
  .is-page-dashboard div#search-form #0761a4 button[type="submit"] {
    width: 4rem;
    height: 4rem;
    font-size: 1.25rem;
    border-radius: 0; }

.is-page-send-email {
  /*.col-right {
        display: flex;
        align-items: center;
        padding: rem( 32px );

        @include screen-min( 'lg' ) {
            padding: rem( 48px );
        }

        h1, h2, h3, h4, h5,
        form {
            margin-top: rem( 16px );

            @include screen-min( 'lg' ) {
                margin-top: rem( 24px );
            }

            &:first-child {
                margin-top: 0;
            }

            + h1, + h2, + h3, + h4, + h5 {
                margin-top: 0
            }
        }
    }*/ }
  .is-page-send-email .site-content {
    margin-top: auto;
    margin-bottom: auto; }
  .is-page-send-email section#the-content > .container {
    padding: 30px 40px; }
  .is-page-send-email section#the-content .section-title {
    margin-bottom: 28px; }
    @media (min-width: 768px) {
      .is-page-send-email section#the-content .section-title {
        margin-bottom: 32px; } }
  .is-page-send-email .image {
    height: 100%;
    padding-top: 0; }
    @media (min-width: 768px) {
      .is-page-send-email .image {
        min-height: 360px; } }
    @media (min-width: 992px) {
      .is-page-send-email .image {
        min-height: 480px; } }
    @media (min-width: 1200px) {
      .is-page-send-email .image {
        min-height: 570px; } }
  .is-page-send-email .form-control {
    border-radius: 0;
    border-color: transparent; }

.TableOdd {
  background-color: lightgray; }

.TableEven {
  background-color: white; }
