﻿@model MES4SME.Models.HelpViewModel
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container body-content">
    <div class="site-content">

        @if (Request.IsAuthenticated && (User.IsInRole("Administrator") || User.IsInRole("Owner")))
        {
            <h1>Extra information</h1>
            <hr />
            <h4>Here is a PDF with help information</h4>
            <hr />
            <h4>Need more Help? Mail us your question</h4>
            using (Html.BeginForm("AskForHelp", "Contact", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.Hidden("Name",  @User.Identity.GetUserName());

                <div class="form-group">
                    @Html.LabelFor(m => m.Subject, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Subject, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Subject, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.EmailBody, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(m => m.EmailBody, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.EmailBody, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="Send" />
                    </div>
                </div>


            }
        }
        else
        {
            <h1-error>Something went wrong!</h1-error>
        }


    </div>
</div>