.is-page-case-detail {
    section#the-content {
        .section-content {
            .editObject {
                font-size: x-large;
                float: right;
                left: 24px;
                color: #016cba;
                padding-right: 3px;
                padding-left: 16px;
                position: relative;
                top: -46px;
                display: none;
            }

            .editObject:hover {
                color: #ffd300;
            }
        }
    }

    section#case-detail {
        padding-top: 30px;
        padding-bottom: 30px;

        .row {
            align-items: center;
        }
    }

    section#related-cases, section#editor-content {
        .section-title, h1, h2, h3, h4, h5, h6 {
            font-weight: 400;
            text-transform: uppercase;
            margin-bottom: rem( 24px );
        }
    }

    #categories-functions {
        .section-title, h1, h2, h3, h4, h5, h6 {
            font-weight: 400;
            text-transform: uppercase;
            margin-bottom: rem( 24px );
        }

        .row {

            > div {
                padding: 15px;
            }

            .cat-fu {
                height: 100%;
                background-color: white;

                p {
                    margin-bottom: 0;
                    padding: 1em;
                    text-transform: uppercase;
                    font-weight: 400;

                    i {
                        color: #ffd300;
                        margin-right: 0.5em;
                    }
                }

                ol, ul {
                    list-style: none;
                    padding: 0.5em 2em;
                    font-size: 85%;

                    li:last-child {
                        padding-bottom: 1em;
                    }

                    li::before {
                        content: "\f138"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
                        color: #ffd300; /* Change the color */
                        /*font-weight: bold;*/ /* If you want it to be bold */
                        display: inline-block; /* Needed to add space between the bullet and the text */
                        width: 1em; /* Also needed for space (tweak if needed) */
                        margin-left: -1.5em; /* Also needed for space (tweak if needed) */
                        font-family: "Font Awesome 5 Pro";
                    }
                }
            }
        }
    }
}
