.is-page-company-detail {
    section#the-content {
        .section-content {

            .editObject {
                font-size: x-large;
                float: right;
                left: 24px;
                color: #016cba;
                padding-right: 3px;
                padding-left: 16px;
                position: relative;
                top: -46px;
                display: none;
            }

            .editObject:hover {
                color: #ffd300;
            }
        }
    }

    section#company-detail {
        padding-top: 30px;
        padding-bottom: 30px;

        .card {
            height: 100%;
        }

        .row {
            align-items: center;
        }
    }

    section#related-cases, section#editor-content {
        .section-title, h1, h2, h3, h4, h5, h6 {
            font-weight: 400;
            text-transform: uppercase;
            margin-bottom: rem( 24px );
        }
    }
}
