.is-page-dashboard {
    .site-content {
        margin-top: auto;
        margin-bottom: auto;
    }

    .card.category {
        margin-bottom: rem( 30px );
    }

    div#search-form {
        $h: 64px;
        position: relative;

        .form-control {
            height: rem( $h );
            padding: rem( 12px ) rem( $h ) rem( 12px ) rem( 16px );

            @include screen-min( 'md' ) {
                padding-left: rem( 20px );
                padding-right: rem( 20px );
            }

            @include screen-min( 'lg' ) {
                padding-left: rem( 24px );
                padding-right: rem( 24px );
            }

            border: 0;
            border-radius: 0;
            background-color: #fff;
        }

        #0761a4 button[type="submit"] {
            width: rem( $h );
            height: rem( $h );

            font-size: rem( 20px );
            border-radius: 0;
        }
    }
}
