.is-page-login,
.is-page-register,
.is-page-forgot-password {
    .site-content {
        margin-top: auto;
        margin-bottom: auto;
    }

    .image {
        height: 100%;

        @include screen-min( 'md' ) {
            min-height: container( 'md' ) * 6 / 12;
        }

        @include screen-min( 'lg' ) {
            min-height: container( 'lg' ) * 6 / 12;
        }

        @include screen-min( 'xl' ) {
            min-height: container( 'xl' ) * 6 / 12;
        }

        padding-top: 0;
    }

    .col-right {
        display: flex;
        align-items: center;
        padding: rem( 32px );

        @include screen-min( 'lg' ) {
            padding: rem( 48px );
        }

        h1, h2, h3, h4, h5,
        form {
            margin-top: rem( 16px );

            @include screen-min( 'lg' ) {
                margin-top: rem( 24px );
            }

            &:first-child {
                margin-top: 0;
            }

            + h1, + h2, + h3, + h4, + h5 {
                margin-top: 0
            }
        }
    }

    .form-control {
        border-radius: 0;
        border-color: transparent;
    }
}
