﻿@using MES4SME.Models
@model EmailNotConfirmedViewModel

@{
    ViewBag.Title = "Email Not Confirmed";
}

<div class="container body-content">
    <div class="site-content">


        @if (Model == null || Model.Email == null || Model.Email == "")
        {
            <h1-error>Something went wrong!</h1-error>
        }
        else
        {
            <div>
                <h2>@ViewBag.Title</h2>
                <a id="Email" hidden="hidden">@Model.Email</a>


                <h4>
                    Your email is not confirmed. <br />
                    Please confirm your email first.
                </h4>

                <br />

                <a class="btn btn-secondary" onclick="SendConfirmEmail()">Send new confirm email</a>

            </div>

            <script>

                function SendConfirmEmail() {

                    $.ajax({
                        type: "POST",
                        url: window.location.protocol + "//" + window.location.host + "/Account/SendEmailConfirmationLink",
                        dataType: "json",
                        data: {
                            //sUserEmail: sEmail
                            sUserEmail: $("#Email").text()

                            //sUserEmail: "axl.vanalboom@ugent.be"
                        },
                        success: function (response) {

                            alert("Email Send");
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            alert("Something went wrong");
                            console.log(xhr, textStatus, errorThrown);
                        }
                    });
                }

            </script>

        }


    </div>
</div>

