@function gray( $key ) {
    @return map-get( $grays, $key );
}

@function theme-color( $key ) {
    @if variable-exists( 'theme-colors' ) {
        @return map-get( $theme-colors, $key );
    }

    @else {
        @warn "Variable $theme-colors doesn't exist.";
    }

    @return #f00;
}

@function system-color( $key ) {
    @return map-get( $system-colors, $key );
}

@function rem( $val: 0 ) {
    $val: $val / ( $val * 0 + 1 );
    @return $val / 16 * 1rem;
}

@function container( $breakpoint ) {
    @return map-get( $container-max-widths, $breakpoint );
}
