html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;

    color: $text-color;
    font-family: $text-font-family;
    font-size: $text-font-size;
    font-weight: $text-font-weight;
    line-height: $text-line-height;
}

a {
    color: theme-color( 'secondary' );
}

h1, h2, h3, h4, h5, h6 {
    color: $heading-color;
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
    line-height: $heading-line-height;

    small {
        font-weight: $text-font-weight;
    }

    em {
        color: theme-color( 'secondary' );
        font-style: normal;
    }
}

h1 { font-size: rem( 36px / 16 * $text-font-size ); }
h2 { font-size: rem( 28px / 16 * $text-font-size ); }
h3 { font-size: rem( 21px / 16 * $text-font-size ); }
h4 { font-size: rem( 18px / 16 * $text-font-size ); }
h5 { font-size: rem( 15px / 16 * $text-font-size ); }

.icon {
    color: lighten( $text-color, 35% );
}
