//
// Colors
// --------------------------------------------------

//= grays
$grays : (

    //= works best with black text
    "50"  : darken( #fff, 2% ),                                                 // #fafafa
    "100" : darken( #fff, 3.75% ),                                              // #f5f5f5
    "200" : darken( #fff, 6.5% ),                                               // #eeeeee
    "300" : darken( #fff, 12% ),                                                // #e0e0e0
    "400" : darken( #fff, 26% ),                                                // #bdbdbd
    "500" : darken( #fff, 38% ),                                                // #9e9e9e

    //= works best with white text
    "600" : darken( #fff, 54% ),                                                // #757575
    "700" : darken( #fff, 62% ),                                                // #616161
    "800" : darken( #fff, 74% ),                                                // #424242
    "900" : darken( #fff, 87% )                                                 // #212121

);

//= system colors
$system-colors : (
    "dark" : #23282d,                                                           //= WP zwart

    "blue" : #007bff,                                                           //= Spotdesign blauw
    "red"  : #e5232c,                                                           //= Spotdesign rood
);

$theme-colors : (
    "primary"   : #FFD300,                                                      //= fancy yellow
    "secondary" : #016CBA                                                       //= dark blue
);


//
// Typography
// --------------------------------------------------
$heading-color       : theme-color( "secondary" );
$heading-font-family : 'poppins', sans-serif;
$heading-font-weight : 700;
$heading-line-height : 20 / 16;

$text-color          : #444444;
$text-font-family    : 'poppins', sans-serif;
$text-font-size      : 15px;
$text-font-weight    : 300;
$text-line-height    : 24 / 16;


//
// Breakpoints
// --------------------------------------------------
$grid-columns: 12 !default;
$grid-gutter-width: 24px !default;

$grid-breakpoints: (
    xs : 0,
    sm : 576px,
    md : 768px,
    lg : 992px,
    xl : 1200px
) !default;

$container-max-widths: (
    sm : 540px,
    md : 720px,
    lg : 960px,
    xl : 1140px
) !default;
