﻿
@{
    ViewBag.Title = "Overzicht";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/choices.min.css" rel="stylesheet" />
<script src="~/Scripts/library/choices.js"></script>

<div class="site-content">

    <section id="dashboard">
        <div class="container">
            <div id="categories-nav" class="row">

                <div class="col-md-6 col-lg-4">
                    <article class="card category">
                        <a href="~/Companies">
                            <div class="card-media"></div>
                            <div class="card-content">
                                <i class="fal fa-industry" aria-hidden="true"></i>
                                <h3 class="card-title">Companies</h3>
                            </div>
                        </a>
                    </article>
                </div>


                <div class="col-md-6 col-lg-4">
                    <article class="card category">
                        <a href="~/Software">
                            <div class="card-media"></div>
                            <div class="card-content">
                                <i class="fal fa-laptop-code" aria-hidden="true"></i>
                                <h3 class="card-title">Software</h3>
                            </div>
                        </a>
                    </article>
                </div>


                <div class="col-md-6 col-lg-4">
                    <article class="card category">
                        <a href="~/Cases">
                            <div class="card-media"></div>
                            <div class="card-content">
                                <i class="fal fa-clipboard" aria-hidden="true"></i>
                                <h3 class="card-title">Cases</h3>
                            </div>
                        </a>
                    </article>
                </div>
            </div>

                @*<form id="search-form" method="post" action="#{{validationUrl}}">
            <input type="search" id="input-search" class="form-control" placeholder="Search for projects, cases, software…">
            <select id="input-search" class="form-control" multiple placeholder="Please select a new search tag..."></select>
            <button type="submit"><i class="far fa-search" aria-hidden="true"></i></button>
            <div id="result"></div>
            </form>*@

            @if (User.IsInRole("Owner") || User.IsInRole("User") || User.IsInRole("Administrator"))
            {
                <div id="search-form" style="width:100%;display:none;">
                    <select id="input-search" class="form-control" multiple placeholder="Please select a new search tag..."></select>
                    <div id="result" style="display: none;"></div>
                </div>
            }
            else
            {
                <div id="search-form" style="width:100%;display:none;" disabled>
                    <select id="input-search" class="form-control" disabled multiple placeholder="You need to be logged in to use the search function!" style="background-color: lightgray"></select>
                    <div id="result" style="display: none;"></div>
                </div>
            }
        </div>
    </section>

    @*<section id="the-content">
        <div class="container">
            
        </div>
    </section>*@
</div>
<script src="~/Scripts/pages/browse.js"></script>
