﻿<link href="~/Content/choices.min.css" rel="stylesheet" />
<script src="~/Scripts/library/choices.js"></script>

<div class="container body-content">
    <div class="site-content">
        <div class="content-wrapper">
            <select id="choices-multiple-labels" multiple placeholder="Please select a new search tag..."></select>
            <div id="result"></div>
        </div>
    </div>
</div>

<style>

    .choices__list--dropdown {
        position: relative;
    }
</style>

<script src="~/Scripts/pages/Search.js"></script>
