﻿
@{
    ViewBag.Title = "Select";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/svg.min.css" rel="stylesheet" />

<div class="site-content">
    <section id="dashboard">
        <div class="container">

            <div id="Main">
            </div>

       

        </div>
    </section>
    @section Scripts {@Scripts.Render("~/bundles/jqueryval")}
    <script src="~/Scripts/pages/select.js"></script>
</div>



