﻿@{
    ViewBag.Title = "Company detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.bodyClass = "software-detail";
}

@Scripts.Render("~/bundles/editorjs")
<link href="~/Content/editorjs.css" rel="stylesheet" />



<div class="site-content">

    <nav id="categories-nav" class="nav">
        <div class="container d-flex">
            <a class="nav-link " href="/Companies"><i class="far fa-industry" aria-hidden="true"></i><span>Companies</span></a>
            <a class="nav-link active" href="/Software"><i class="far fa-compact-disc" aria-hidden="true"></i><span>Software</span></a>
            <a class="nav-link " href="/Cases"><i class="far fa-vote-yea" aria-hidden="true"></i><span>Cases</span></a>
        </div>
    </nav>

    <section id="the-content" visibility="hidden">
    </section>
</div>

@if (User.IsInRole("Administrator"))
{
    <p hidden id="Role">Administrator</p>
    <script src="~/Scripts/pages/editor.js"></script>
}

@if (User.IsInRole("Owner"))
{
    <p hidden id="Role">Owner</p>
    <script src="~/Scripts/pages/editor.js"></script>
}

<script src="~/Scripts/pages/softwares-detail.js"></script>
