﻿@{
    ViewBag.Title = "Softwares";
    ViewBag.bodyClass = "softwares";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="site-content">

    <nav id="categories-nav" class="nav">
        <div class="container d-flex">
            <a class="nav-link " href="/Companies"><i class="far fa-industry" aria-hidden="true"></i><span>Companies</span></a>
            <a class="nav-link active" href="/Software"><i class="far fa-compact-disc" aria-hidden="true"></i><span>Software</span></a>
            <a class="nav-link " href="/Cases"><i class="far fa-vote-yea" aria-hidden="true"></i><span>Cases</span></a>
        </div>
    </nav>

    <section id="the-content">
        <div class="container">

            <div class="section-header d-md-flex align-items-center">
                <div class="mr-auto">
                    <h2 class="section-title">Software</h2>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="far fa-home"></i></a></li>
                        <li class="breadcrumb-item active">Software</li>
                    </ol>
                </div>
                @if (User.IsInRole("Owner") || User.IsInRole("User") || User.IsInRole("Administrator"))
                {
                    <div id="search-form">
                        <input type="text" id="input-search" class="form-control" placeholder="Search software&hellip;">
                        <button type="submit" onclick="searchSoftwares();"><i class="far fa-search"></i></button>
                    </div>

                }
                else
                {
                    <div id="search-form" disabled>
                        <input type="text" disabled class="form-control" placeholder="log in to use the search function">
                    </div>
                }

            </div><!-- /.section-header -->

            <div class="section-content">
                <div class="row" id="softwares">
                </div>
            </div><!-- /.section-content -->

            <div class="section-footer">
                <ul class="pagination justify-content-center"></ul>
            </div>

        </div>
    </section>
</div>


<script src="~/Scripts/pages/softwares.js"></script>
