﻿
@{
    ViewBag.Title = "Privacy";
}

<div class="site-content">

    <section id="the-content">
        <div class="container" padding="2rem">
            <div id="cs_content" class="content" style="padding:2rem;">
                <div class="post" padding="2rem">
                    <h1>Verklaring over privacy en cookies op de MES-Selector-tool</h1>
                    <p>
                        Google analytics is ingesteld met behulp van de <a href="https://www.interpedia.nl/analytics/beheer/google-analytics-instellen-cookiewetgeving">interpedia website</a>.
                        Alle instellingen zijn perfect overgenomen, behalve bij stap 5. In plaats van het instellen van gegevensbehoud op 50 maanden, is dit ingesteld op 14 maanden (bij het moment van het instellen van de parameters, was 14 maanden de langst mogelijke waarde voor deze parameter).
                        De website maakt gebruik van de <a href="https://www.interpedia.nl/privacy-statement">interpedia privacy verklaring</a>.
                        Voor het anonimiseren van IP-adressen (stap 7) is gebruik gemaakt van <a href="https://www.interpedia.nl/analytics/beheer/ip-adressen-maskeren-anonymizeip">IP-masking instellen met de nieuwe gtag.js trackingcode (sinds september 2017)</a>.
                    </p>
                    <h2>Opslaan van gegevens</h2>
                    <p>Deze website bevat geen (contact)formulieren en er worden geen persoonsgegevens opgeslagen.</p>
                    <h2>Cookies</h2>
                    <p>Op deze website wordt alleen een Analytics cookie gebruikt.</p>
                    <h2>Privacy wetgeving en Analytics</h2>
                    <p>Zoals hieronder beschreven in de officiële verklaring die Google Analytics gebruikers op hun website moeten plaatsen maakt deze website gebruik van Google Analytics. Dit programma levert belangrijke statistieken over aantallen bezoekers, de bezochte pagina’s, de verkeersbronnen en andere essentiële informatie waarmee wij deze website voortdurend kunnen verbeteren voor de gebruikers. Deze statistieken zijn anoniem en niet te herleiden tot een bepaalde persoon of gebruiker. Er wordt geen gebruik gemaakt van ‘behavioural targeting’ waarmee u op basis van uw klikgedrag speciale inhoud krijgt te zien; uw surfgedrag blijft volledig anoniem. Gegevens uit contactformulieren worden nooit in Analytics verwerkt of opgeslagen.</p>
                    <p>Google Analytics maakt gebruik van een cookie, dat is een klein bestandje dat op uw computer wordt opgeslagen. Wij hebben Google Analytics conform de privacy wetgeving ingericht, zodat er geen toestemming vooraf van de gebruiker nodig is.</p>
                    <h2>IP adressen worden gemaskeerd en gegevens niet gedeeld</h2>
                    <p>Het cookie van Google Analytics is een ‘first party cookie’, dat wil zeggen dat het cookie officieel eigendom is van&nbsp;Hayona en niet van Google. Dit cookie wordt niet gebruikt voor advertenties of andere commerciële doeleinden. Hayona heeft een verwerkersovereenkomst met Google. Daarnaast is Google Analytics zo ingesteld dat IP-adressen anoniem zijn gemaakt, zodat gegevens nooit naar u of uw IP adres te herleiden zijn. Verder wordt vanuit het Analytics account van&nbsp;Hayona geen informatie gedeeld met Google of andere partijen. Daarmee is het Analytics cookie van&nbsp;Hayona een niet-privacy gevoelig first-party cookie dat nodig is om de kwaliteit en veiligheid van&nbsp;hayona.nl te kunnen waarborgen. Het Analytics cookie blijft 6 maanden geldig.</p>
                    <h2>Opt-out</h2>
                    <p>Als u het script van Analytics liever helemaal wilt blokkeren dan kunt u hier een opt-out plugin voor Google Analytics downloaden: <a href="https://tools.google.com/dlpage/gaoptout">https://tools.google.com/dlpage/gaoptout</a>. Met deze plugin telt uw bezoek niet meer mee in de statistieken van alle websites die Google Analytics gebruiken.</p>
                    <h2>Google Analytics – verklaring van Google</h2>
                    <p>Deze website maakt gebruik van Google Analytics, een webanalyse-service die wordt aangeboden door Google Inc. (“Google”). Google Analytics maakt gebruik van “cookies” (tekstbestandjes die op uw computer worden geplaatst) om de website te helpen analyseren hoe bezoekers de site gebruiken. De door het cookie gegenereerde anonieme informatie over uw gebruik van de website wordt overgebracht naar en door Google opgeslagen op servers in de Verenigde Staten. Google gebruikt deze informatie om bij te houden hoe deze website wordt gebruikt, rapporten over de website-activiteit op te stellen voor de eigenaar van deze website (Hayona BV) en andere diensten aan te bieden met betrekking tot website-activiteit en internetgebruik. Google mag deze informatie alleen aan derden verschaffen indien Google hiertoe wettelijk wordt verplicht, of voor zover deze derden de informatie namens Google verwerken. Google zal Uw IP-adres niet combineren met andere gegevens waarover Google beschikt. U kunt het gebruik van cookies weigeren door in Uw browser de daarvoor geëigende instellingen te kiezen. Wij wijzen u er echter op dat u in dat geval wellicht niet alle mogelijkheden van deze website kunt benutten. Door gebruik te maken van deze website geeft u toestemming voor het verwerken van de informatie door Google op de wijze en voor de doeleinden zoals hiervoor omschreven.</p>

                </div>
                <div class="widget"></div>
            </div>
        </div>
    </section>

    @section Scripts {@Scripts.Render("~/bundles/jqueryval")}

</div>

